<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.sysmgr.dao.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.sysmgr.entity.LoginLog">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Operator" jdbcType="NVARCHAR" property="operator" />
    <result column="OptTime" jdbcType="TIMESTAMP" property="opttime" />
    <result column="ClientIP" jdbcType="NVARCHAR" property="clientip" />
    <result column="OptDesc" jdbcType="NVARCHAR" property="optdesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, Operator, OptTime, ClientIP, OptDesc
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.sysmgr.entity.LoginLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_LoginLog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IBDS_LoginLog
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IBDS_LoginLog
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.mds.sysmgr.entity.LoginLogExample">
    delete from IBDS_LoginLog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.sysmgr.entity.LoginLog">
    insert into IBDS_LoginLog (ID, Operator, OptTime, 
      ClientIP, OptDesc)
    values (#{id,jdbcType=INTEGER}, #{operator,jdbcType=NVARCHAR}, #{opttime,jdbcType=TIMESTAMP}, 
      #{clientip,jdbcType=NVARCHAR}, #{optdesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.sysmgr.entity.LoginLog">
    insert into IBDS_LoginLog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="operator != null">
        Operator,
      </if>
      <if test="opttime != null">
        OptTime,
      </if>
      <if test="clientip != null">
        ClientIP,
      </if>
      <if test="optdesc != null">
        OptDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="opttime != null">
        #{opttime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientip != null">
        #{clientip,jdbcType=NVARCHAR},
      </if>
      <if test="optdesc != null">
        #{optdesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.sysmgr.entity.LoginLogExample" resultType="java.lang.Long">
    select count(*) from IBDS_LoginLog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_LoginLog
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.operator != null">
        Operator = #{record.operator,jdbcType=NVARCHAR},
      </if>
      <if test="record.opttime != null">
        OptTime = #{record.opttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clientip != null">
        ClientIP = #{record.clientip,jdbcType=NVARCHAR},
      </if>
      <if test="record.optdesc != null">
        OptDesc = #{record.optdesc,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_LoginLog
    set ID = #{record.id,jdbcType=INTEGER},
      Operator = #{record.operator,jdbcType=NVARCHAR},
      OptTime = #{record.opttime,jdbcType=TIMESTAMP},
      ClientIP = #{record.clientip,jdbcType=NVARCHAR},
      OptDesc = #{record.optdesc,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.mds.sysmgr.entity.LoginLog">
    update IBDS_LoginLog
    <set>
      <if test="operator != null">
        Operator = #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="opttime != null">
        OptTime = #{opttime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientip != null">
        ClientIP = #{clientip,jdbcType=NVARCHAR},
      </if>
      <if test="optdesc != null">
        OptDesc = #{optdesc,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.mds.sysmgr.entity.LoginLog">
    update IBDS_LoginLog
    set Operator = #{operator,jdbcType=NVARCHAR},
      OptTime = #{opttime,jdbcType=TIMESTAMP},
      ClientIP = #{clientip,jdbcType=NVARCHAR},
      OptDesc = #{optdesc,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>