<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.sysmgr.dao.UserRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.sysmgr.entity.UserRoleRelation">
    <id column="HURR_ID" jdbcType="INTEGER" property="hurrId" />
    <result column="HURR_HUL_CODE" jdbcType="VARCHAR" property="hurrHulCode" />
    <result column="HURR_HRL_CODE" jdbcType="VARCHAR" property="hurrHrlCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    HURR_ID, HURR_HUL_CODE, HURR_HRL_CODE
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.sysmgr.entity.UserRoleRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_User_Role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IBDS_User_Role
    where HURR_ID = #{hurrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IBDS_User_Role
    where HURR_ID = #{hurrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.mds.sysmgr.entity.UserRoleRelationExample">
    delete from IBDS_User_Role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.sysmgr.entity.UserRoleRelation">
    insert into IBDS_User_Role (HURR_ID, HURR_HUL_CODE, HURR_HRL_CODE
      )
    values (#{hurrId,jdbcType=INTEGER}, #{hurrHulCode,jdbcType=VARCHAR}, #{hurrHrlCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.sysmgr.entity.UserRoleRelation">
    insert into IBDS_User_Role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hurrId != null">
        HURR_ID,
      </if>
      <if test="hurrHulCode != null">
        HURR_HUL_CODE,
      </if>
      <if test="hurrHrlCode != null">
        HURR_HRL_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hurrId != null">
        #{hurrId,jdbcType=INTEGER},
      </if>
      <if test="hurrHulCode != null">
        #{hurrHulCode,jdbcType=VARCHAR},
      </if>
      <if test="hurrHrlCode != null">
        #{hurrHrlCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.sysmgr.entity.UserRoleRelationExample" resultType="java.lang.Long">
    select count(*) from IBDS_User_Role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_User_Role
    <set>
      <if test="record.hurrId != null">
        HURR_ID = #{record.hurrId,jdbcType=INTEGER},
      </if>
      <if test="record.hurrHulCode != null">
        HURR_HUL_CODE = #{record.hurrHulCode,jdbcType=VARCHAR},
      </if>
      <if test="record.hurrHrlCode != null">
        HURR_HRL_CODE = #{record.hurrHrlCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_User_Role
    set HURR_ID = #{record.hurrId,jdbcType=INTEGER},
      HURR_HUL_CODE = #{record.hurrHulCode,jdbcType=VARCHAR},
      HURR_HRL_CODE = #{record.hurrHrlCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.mds.sysmgr.entity.UserRoleRelation">
    update IBDS_User_Role
    <set>
      <if test="hurrHulCode != null">
        HURR_HUL_CODE = #{hurrHulCode,jdbcType=VARCHAR},
      </if>
      <if test="hurrHrlCode != null">
        HURR_HRL_CODE = #{hurrHrlCode,jdbcType=VARCHAR},
      </if>
    </set>
    where HURR_ID = #{hurrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.mds.sysmgr.entity.UserRoleRelation">
    update IBDS_User_Role
    set HURR_HUL_CODE = #{hurrHulCode,jdbcType=VARCHAR},
      HURR_HRL_CODE = #{hurrHrlCode,jdbcType=VARCHAR}
    where HURR_ID = #{hurrId,jdbcType=INTEGER}
  </update>
</mapper>