<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.dept.dao.IBDS_Dept_MgnRoleMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.dept.entity.IBDS_Dept_MgnRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Code" jdbcType="NVARCHAR" property="code" />
    <result column="NameEng" jdbcType="NVARCHAR" property="nameeng" />
    <result column="Manager" jdbcType="NVARCHAR" property="manager" />
    <result column="Secretary" jdbcType="NVARCHAR" property="secretary" />
    <result column="DeptPlanner" jdbcType="NVARCHAR" property="deptplanner" />
    <result column="Approver" jdbcType="NVARCHAR" property="approver" />
    <result column="Abbreviation" jdbcType="NVARCHAR" property="abbreviation" />
    <result column="PlanApprover" jdbcType="NVARCHAR" property="planapprover" />
    <result column="PR" jdbcType="NVARCHAR" property="pr" />
    <result column="Consignor" jdbcType="NVARCHAR" property="consignor" />
    <result column="Creator" jdbcType="NVARCHAR" property="creator" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="Modifier" jdbcType="NVARCHAR" property="modifier" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="DeleteFlag" jdbcType="CHAR" property="deleteflag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, Code, NameEng, Manager, Secretary, DeptPlanner, Approver, Abbreviation, PlanApprover, 
    PR, Consignor, Creator, CreateTime, Modifier, ModifyTime, DeleteFlag
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.dept.entity.IbdsDeptMgnRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_Dept_MgnRole
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IBDS_Dept_MgnRole
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IBDS_Dept_MgnRole
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.mds.dept.entity.IbdsDeptMgnRoleExample">
    delete from IBDS_Dept_MgnRole
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.dept.entity.IBDS_Dept_MgnRole">
    insert into IBDS_Dept_MgnRole (id, Code, NameEng, 
      Manager, Secretary, DeptPlanner, 
      Approver, Abbreviation, PlanApprover, 
      PR, Consignor, Creator, 
      CreateTime, Modifier, ModifyTime, 
      DeleteFlag)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=NVARCHAR}, #{nameeng,jdbcType=NVARCHAR}, 
      #{manager,jdbcType=NVARCHAR}, #{secretary,jdbcType=NVARCHAR}, #{deptplanner,jdbcType=NVARCHAR}, 
      #{approver,jdbcType=NVARCHAR}, #{abbreviation,jdbcType=NVARCHAR}, #{planapprover,jdbcType=NVARCHAR}, 
      #{pr,jdbcType=NVARCHAR}, #{consignor,jdbcType=NVARCHAR}, #{creator,jdbcType=NVARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=NVARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{deleteflag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.dept.entity.IBDS_Dept_MgnRole">
    insert into IBDS_Dept_MgnRole
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        Code,
      </if>
      <if test="nameeng != null">
        NameEng,
      </if>
      <if test="manager != null">
        Manager,
      </if>
      <if test="secretary != null">
        Secretary,
      </if>
      <if test="deptplanner != null">
        DeptPlanner,
      </if>
      <if test="approver != null">
        Approver,
      </if>
      <if test="abbreviation != null">
        Abbreviation,
      </if>
      <if test="planapprover != null">
        PlanApprover,
      </if>
      <if test="pr != null">
        PR,
      </if>
      <if test="consignor != null">
        Consignor,
      </if>
      <if test="creator != null">
        Creator,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="modifier != null">
        Modifier,
      </if>
      <if test="modifytime != null">
        ModifyTime,
      </if>
      <if test="deleteflag != null">
        DeleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="nameeng != null">
        #{nameeng,jdbcType=NVARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=NVARCHAR},
      </if>
      <if test="secretary != null">
        #{secretary,jdbcType=NVARCHAR},
      </if>
      <if test="deptplanner != null">
        #{deptplanner,jdbcType=NVARCHAR},
      </if>
      <if test="approver != null">
        #{approver,jdbcType=NVARCHAR},
      </if>
      <if test="abbreviation != null">
        #{abbreviation,jdbcType=NVARCHAR},
      </if>
      <if test="planapprover != null">
        #{planapprover,jdbcType=NVARCHAR},
      </if>
      <if test="pr != null">
        #{pr,jdbcType=NVARCHAR},
      </if>
      <if test="consignor != null">
        #{consignor,jdbcType=NVARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflag != null">
        #{deleteflag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.dept.entity.IbdsDeptMgnRoleExample" resultType="java.lang.Long">
    select count(*) from IBDS_Dept_MgnRole
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_Dept_MgnRole
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        Code = #{record.code,jdbcType=NVARCHAR},
      </if>
      <if test="record.nameeng != null">
        NameEng = #{record.nameeng,jdbcType=NVARCHAR},
      </if>
      <if test="record.manager != null">
        Manager = #{record.manager,jdbcType=NVARCHAR},
      </if>
      <if test="record.secretary != null">
        Secretary = #{record.secretary,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptplanner != null">
        DeptPlanner = #{record.deptplanner,jdbcType=NVARCHAR},
      </if>
      <if test="record.approver != null">
        Approver = #{record.approver,jdbcType=NVARCHAR},
      </if>
      <if test="record.abbreviation != null">
        Abbreviation = #{record.abbreviation,jdbcType=NVARCHAR},
      </if>
      <if test="record.planapprover != null">
        PlanApprover = #{record.planapprover,jdbcType=NVARCHAR},
      </if>
      <if test="record.pr != null">
        PR = #{record.pr,jdbcType=NVARCHAR},
      </if>
      <if test="record.consignor != null">
        Consignor = #{record.consignor,jdbcType=NVARCHAR},
      </if>
      <if test="record.creator != null">
        Creator = #{record.creator,jdbcType=NVARCHAR},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        Modifier = #{record.modifier,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifytime != null">
        ModifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteflag != null">
        DeleteFlag = #{record.deleteflag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_Dept_MgnRole
    set id = #{record.id,jdbcType=INTEGER},
      Code = #{record.code,jdbcType=NVARCHAR},
      NameEng = #{record.nameeng,jdbcType=NVARCHAR},
      Manager = #{record.manager,jdbcType=NVARCHAR},
      Secretary = #{record.secretary,jdbcType=NVARCHAR},
      DeptPlanner = #{record.deptplanner,jdbcType=NVARCHAR},
      Approver = #{record.approver,jdbcType=NVARCHAR},
      Abbreviation = #{record.abbreviation,jdbcType=NVARCHAR},
      PlanApprover = #{record.planapprover,jdbcType=NVARCHAR},
      PR = #{record.pr,jdbcType=NVARCHAR},
      Consignor = #{record.consignor,jdbcType=NVARCHAR},
      Creator = #{record.creator,jdbcType=NVARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      Modifier = #{record.modifier,jdbcType=NVARCHAR},
      ModifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      DeleteFlag = #{record.deleteflag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.mds.dept.entity.IBDS_Dept_MgnRole">
    update IBDS_Dept_MgnRole
    <set>
      <if test="code != null">
        Code = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="nameeng != null">
        NameEng = #{nameeng,jdbcType=NVARCHAR},
      </if>
      <if test="manager != null">
        Manager = #{manager,jdbcType=NVARCHAR},
      </if>
      <if test="secretary != null">
        Secretary = #{secretary,jdbcType=NVARCHAR},
      </if>
      <if test="deptplanner != null">
        DeptPlanner = #{deptplanner,jdbcType=NVARCHAR},
      </if>
      <if test="approver != null">
        Approver = #{approver,jdbcType=NVARCHAR},
      </if>
      <if test="abbreviation != null">
        Abbreviation = #{abbreviation,jdbcType=NVARCHAR},
      </if>
      <if test="planapprover != null">
        PlanApprover = #{planapprover,jdbcType=NVARCHAR},
      </if>
      <if test="pr != null">
        PR = #{pr,jdbcType=NVARCHAR},
      </if>
      <if test="consignor != null">
        Consignor = #{consignor,jdbcType=NVARCHAR},
      </if>
      <if test="creator != null">
        Creator = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        Modifier = #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="modifytime != null">
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflag != null">
        DeleteFlag = #{deleteflag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.mds.dept.entity.IBDS_Dept_MgnRole">
    update IBDS_Dept_MgnRole
    set Code = #{code,jdbcType=NVARCHAR},
      NameEng = #{nameeng,jdbcType=NVARCHAR},
      Manager = #{manager,jdbcType=NVARCHAR},
      Secretary = #{secretary,jdbcType=NVARCHAR},
      DeptPlanner = #{deptplanner,jdbcType=NVARCHAR},
      Approver = #{approver,jdbcType=NVARCHAR},
      Abbreviation = #{abbreviation,jdbcType=NVARCHAR},
      PlanApprover = #{planapprover,jdbcType=NVARCHAR},
      PR = #{pr,jdbcType=NVARCHAR},
      Consignor = #{consignor,jdbcType=NVARCHAR},
      Creator = #{creator,jdbcType=NVARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Modifier = #{modifier,jdbcType=NVARCHAR},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      DeleteFlag = #{deleteflag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 一级四级部门详细信息编辑页面回显  根据部门编码和部门名称查询部门信息 -->
	<select id="getYiJiDeptMgnRoleByCode"  parameterType="map" resultType="map">
		select 	
		  e.id as id,
	      e.Code as code,
	      e.NameEng as nameeng,
	      e.Manager as manager,
	      e.Secretary as secretary,
	      e.DeptPlanner as deptplanner,
	      e.Approver as approver,
	      e.Abbreviation as abbreviation,
	      e.PlanApprover as planapprover,
	      e.PR as pr,
	      e.Consignor as consignor,
	      e.Creator as creator,
	      e.CreateTime as createtime,
	      e.Modifier as modifier,
	      e.ModifyTime as modifytime,
	      e.DeleteFlag as deleteflag,
	      a.DeptName as deptName,
		  a.coaCode as coa,
		  a.DeptType as deptType
	 from IBDS_Dept_MgnRole e inner join IBDS_Dept_Data a on e.Code=a.DeptCode
	 where e.Code = #{param.code} 
	      
	</select>
	
</mapper>