<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.flowable.dao.IbdsEipMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.flowable.entity.IbdsEip">
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="ADD_USER_ID" jdbcType="VARCHAR" property="addUserId" />
    <result column="ADD_USER_NAME" jdbcType="VARCHAR" property="addUserName" />
    <result column="APPLY_TIME" jdbcType="VARCHAR" property="applyTime" />
    <result column="AUTHOR_ID" jdbcType="VARCHAR" property="authorId" />
    <result column="AUTHOR_NAME" jdbcType="VARCHAR" property="authorName" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="DOCUN_ID" jdbcType="VARCHAR" property="docunId" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="PROCESS_ID" jdbcType="VARCHAR" property="processId" />
    <result column="PROCESS_NAME" jdbcType="VARCHAR" property="processName" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="END_USER_ID" jdbcType="VARCHAR" property="endUserId" />
    <result column="ASSIGNER" jdbcType="VARCHAR" property="assigner" />
    <result column="NODE_ID" jdbcType="VARCHAR" property="nodeId" />
    <result column="NODE_NAME" jdbcType="VARCHAR" property="nodeName" />
    <result column="TIMES_TAMP" jdbcType="VARCHAR" property="timesTamp" />
    <result column="ACCEPT_TYPE" jdbcType="VARCHAR" property="acceptType" />
    <result column="REDIRECT_URL" jdbcType="VARCHAR" property="redirectUrl" />
    <result column="IS_BATCH" jdbcType="VARCHAR" property="isBatch" />
    <result column="IS_SMS" jdbcType="VARCHAR" property="isSms" />
    <result column="APPLICATION_URL" jdbcType="VARCHAR" property="applicationUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SUBJECT, ADD_USER_ID, ADD_USER_NAME, APPLY_TIME, AUTHOR_ID, AUTHOR_NAME, URL, SYSTEM_ID, 
    DOCUN_ID, APP_ID, PROCESS_ID, PROCESS_NAME, STATUS, END_USER_ID, ASSIGNER, NODE_ID, 
    NODE_NAME, TIMES_TAMP, ACCEPT_TYPE, REDIRECT_URL, IS_BATCH, IS_SMS, APPLICATION_URL
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.flowable.entity.IbdsEipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_IFLOW_REQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.flowable.entity.IbdsEipExample">
    delete from IBDS_IFLOW_REQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.flowable.entity.IbdsEip">
    insert into IBDS_IFLOW_REQ (SUBJECT, ADD_USER_ID, ADD_USER_NAME, 
      APPLY_TIME, AUTHOR_ID, AUTHOR_NAME, 
      URL, SYSTEM_ID, DOCUN_ID, 
      APP_ID, PROCESS_ID, PROCESS_NAME, 
      STATUS, END_USER_ID, ASSIGNER, 
      NODE_ID, NODE_NAME, TIMES_TAMP, 
      ACCEPT_TYPE, REDIRECT_URL, IS_BATCH, 
      IS_SMS, APPLICATION_URL)
    values (#{subject,jdbcType=VARCHAR}, #{addUserId,jdbcType=VARCHAR}, #{addUserName,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=VARCHAR}, #{authorId,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{systemId,jdbcType=VARCHAR}, #{docunId,jdbcType=VARCHAR}, 
      #{appId,jdbcType=VARCHAR}, #{processId,jdbcType=VARCHAR}, #{processName,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{endUserId,jdbcType=VARCHAR}, #{assigner,jdbcType=VARCHAR}, 
      #{nodeId,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, #{timesTamp,jdbcType=VARCHAR}, 
      #{acceptType,jdbcType=VARCHAR}, #{redirectUrl,jdbcType=VARCHAR}, #{isBatch,jdbcType=VARCHAR}, 
      #{isSms,jdbcType=VARCHAR}, #{applicationUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.flowable.entity.IbdsEip">
    insert into IBDS_IFLOW_REQ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subject != null">
        SUBJECT,
      </if>
      <if test="addUserId != null">
        ADD_USER_ID,
      </if>
      <if test="addUserName != null">
        ADD_USER_NAME,
      </if>
      <if test="applyTime != null">
        APPLY_TIME,
      </if>
      <if test="authorId != null">
        AUTHOR_ID,
      </if>
      <if test="authorName != null">
        AUTHOR_NAME,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="docunId != null">
        DOCUN_ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="processId != null">
        PROCESS_ID,
      </if>
      <if test="processName != null">
        PROCESS_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="endUserId != null">
        END_USER_ID,
      </if>
      <if test="assigner != null">
        ASSIGNER,
      </if>
      <if test="nodeId != null">
        NODE_ID,
      </if>
      <if test="nodeName != null">
        NODE_NAME,
      </if>
      <if test="timesTamp != null">
        TIMES_TAMP,
      </if>
      <if test="acceptType != null">
        ACCEPT_TYPE,
      </if>
      <if test="redirectUrl != null">
        REDIRECT_URL,
      </if>
      <if test="isBatch != null">
        IS_BATCH,
      </if>
      <if test="isSms != null">
        IS_SMS,
      </if>
      <if test="applicationUrl != null">
        APPLICATION_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="addUserId != null">
        #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null">
        #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="docunId != null">
        #{docunId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=VARCHAR},
      </if>
      <if test="processName != null">
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="endUserId != null">
        #{endUserId,jdbcType=VARCHAR},
      </if>
      <if test="assigner != null">
        #{assigner,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="timesTamp != null">
        #{timesTamp,jdbcType=VARCHAR},
      </if>
      <if test="acceptType != null">
        #{acceptType,jdbcType=VARCHAR},
      </if>
      <if test="redirectUrl != null">
        #{redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="isBatch != null">
        #{isBatch,jdbcType=VARCHAR},
      </if>
      <if test="isSms != null">
        #{isSms,jdbcType=VARCHAR},
      </if>
      <if test="applicationUrl != null">
        #{applicationUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.flowable.entity.IbdsEipExample" resultType="java.lang.Long">
    select count(*) from IBDS_IFLOW_REQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_IFLOW_REQ
    <set>
      <if test="record.subject != null">
        SUBJECT = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.addUserId != null">
        ADD_USER_ID = #{record.addUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.addUserName != null">
        ADD_USER_NAME = #{record.addUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null">
        APPLY_TIME = #{record.applyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.authorId != null">
        AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      </if>
      <if test="record.authorName != null">
        AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null">
        SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.docunId != null">
        DOCUN_ID = #{record.docunId,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        APP_ID = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.processId != null">
        PROCESS_ID = #{record.processId,jdbcType=VARCHAR},
      </if>
      <if test="record.processName != null">
        PROCESS_NAME = #{record.processName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.endUserId != null">
        END_USER_ID = #{record.endUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.assigner != null">
        ASSIGNER = #{record.assigner,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeId != null">
        NODE_ID = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeName != null">
        NODE_NAME = #{record.nodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.timesTamp != null">
        TIMES_TAMP = #{record.timesTamp,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptType != null">
        ACCEPT_TYPE = #{record.acceptType,jdbcType=VARCHAR},
      </if>
      <if test="record.redirectUrl != null">
        REDIRECT_URL = #{record.redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isBatch != null">
        IS_BATCH = #{record.isBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.isSms != null">
        IS_SMS = #{record.isSms,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationUrl != null">
        APPLICATION_URL = #{record.applicationUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_IFLOW_REQ
    set SUBJECT = #{record.subject,jdbcType=VARCHAR},
      ADD_USER_ID = #{record.addUserId,jdbcType=VARCHAR},
      ADD_USER_NAME = #{record.addUserName,jdbcType=VARCHAR},
      APPLY_TIME = #{record.applyTime,jdbcType=VARCHAR},
      AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      DOCUN_ID = #{record.docunId,jdbcType=VARCHAR},
      APP_ID = #{record.appId,jdbcType=VARCHAR},
      PROCESS_ID = #{record.processId,jdbcType=VARCHAR},
      PROCESS_NAME = #{record.processName,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      END_USER_ID = #{record.endUserId,jdbcType=VARCHAR},
      ASSIGNER = #{record.assigner,jdbcType=VARCHAR},
      NODE_ID = #{record.nodeId,jdbcType=VARCHAR},
      NODE_NAME = #{record.nodeName,jdbcType=VARCHAR},
      TIMES_TAMP = #{record.timesTamp,jdbcType=VARCHAR},
      ACCEPT_TYPE = #{record.acceptType,jdbcType=VARCHAR},
      REDIRECT_URL = #{record.redirectUrl,jdbcType=VARCHAR},
      IS_BATCH = #{record.isBatch,jdbcType=VARCHAR},
      IS_SMS = #{record.isSms,jdbcType=VARCHAR},
      APPLICATION_URL = #{record.applicationUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>