<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.flowable.dao.MailInfoMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.flowable.entity.MailInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SEND_TO" jdbcType="NVARCHAR" property="sendTo" />
    <result column="CC_TO" jdbcType="NVARCHAR" property="ccTo" />
    <result column="SUBJECT" jdbcType="NVARCHAR" property="subject" />
    <result column="CONTENT" jdbcType="NVARCHAR" property="content" />
    <result column="PROCESS_ID" jdbcType="INTEGER" property="processId" />
    <result column="APPLY_CODE" jdbcType="NVARCHAR" property="applyCode" />
    <result column="STATUS" jdbcType="NVARCHAR" property="status" />
    <result column="CREATE_USER" jdbcType="NVARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFY_USER" jdbcType="NVARCHAR" property="modifyUser" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="TASK_ID" jdbcType="NVARCHAR" property="taskId" />
    <result column="URL" jdbcType="NVARCHAR" property="url" />
    <result column="MODULE_DESC" jdbcType="NVARCHAR" property="moduleDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SEND_TO, CC_TO, SUBJECT, CONTENT, PROCESS_ID, APPLY_CODE, STATUS, CREATE_USER, 
    CREATE_DATE, MODIFY_USER, MODIFY_DATE, TASK_ID, URL, MODULE_DESC
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.flowable.entity.MailInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_MAIL_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IBDS_MAIL_INFO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IBDS_MAIL_INFO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.mds.flowable.entity.MailInfoExample">
    delete from IBDS_MAIL_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.flowable.entity.MailInfo"   useGeneratedKeys="true" keyProperty="id">
    insert into IBDS_MAIL_INFO (ID, SEND_TO, CC_TO, 
      SUBJECT, CONTENT, PROCESS_ID, 
      APPLY_CODE, STATUS, CREATE_USER, 
      CREATE_DATE, MODIFY_USER, MODIFY_DATE, 
      TASK_ID, URL, MODULE_DESC
      )
    values (#{id,jdbcType=INTEGER}, #{sendTo,jdbcType=NVARCHAR}, #{ccTo,jdbcType=NVARCHAR}, 
      #{subject,jdbcType=NVARCHAR}, #{content,jdbcType=NVARCHAR}, #{processId,jdbcType=INTEGER}, 
      #{applyCode,jdbcType=NVARCHAR}, #{status,jdbcType=NVARCHAR}, #{createUser,jdbcType=NVARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=NVARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{taskId,jdbcType=NVARCHAR}, #{url,jdbcType=NVARCHAR}, #{moduleDesc,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.flowable.entity.MailInfo"   useGeneratedKeys="true" keyProperty="id">
    insert into IBDS_MAIL_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sendTo != null">
        SEND_TO,
      </if>
      <if test="ccTo != null">
        CC_TO,
      </if>
      <if test="subject != null">
        SUBJECT,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="processId != null">
        PROCESS_ID,
      </if>
      <if test="applyCode != null">
        APPLY_CODE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="moduleDesc != null">
        MODULE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendTo != null">
        #{sendTo,jdbcType=NVARCHAR},
      </if>
      <if test="ccTo != null">
        #{ccTo,jdbcType=NVARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=NVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="applyCode != null">
        #{applyCode,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=NVARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=NVARCHAR},
      </if>
      <if test="moduleDesc != null">
        #{moduleDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.flowable.entity.MailInfoExample" resultType="java.lang.Long">
    select count(*) from IBDS_MAIL_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_MAIL_INFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sendTo != null">
        SEND_TO = #{record.sendTo,jdbcType=NVARCHAR},
      </if>
      <if test="record.ccTo != null">
        CC_TO = #{record.ccTo,jdbcType=NVARCHAR},
      </if>
      <if test="record.subject != null">
        SUBJECT = #{record.subject,jdbcType=NVARCHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=NVARCHAR},
      </if>
      <if test="record.processId != null">
        PROCESS_ID = #{record.processId,jdbcType=INTEGER},
      </if>
      <if test="record.applyCode != null">
        APPLY_CODE = #{record.applyCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUser != null">
        MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyDate != null">
        MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=NVARCHAR},
      </if>
      <if test="record.url != null">
        URL = #{record.url,jdbcType=NVARCHAR},
      </if>
      <if test="record.moduleDesc != null">
        MODULE_DESC = #{record.moduleDesc,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_MAIL_INFO
    set ID = #{record.id,jdbcType=INTEGER},
      SEND_TO = #{record.sendTo,jdbcType=NVARCHAR},
      CC_TO = #{record.ccTo,jdbcType=NVARCHAR},
      SUBJECT = #{record.subject,jdbcType=NVARCHAR},
      CONTENT = #{record.content,jdbcType=NVARCHAR},
      PROCESS_ID = #{record.processId,jdbcType=INTEGER},
      APPLY_CODE = #{record.applyCode,jdbcType=NVARCHAR},
      STATUS = #{record.status,jdbcType=NVARCHAR},
      CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      TASK_ID = #{record.taskId,jdbcType=NVARCHAR},
      URL = #{record.url,jdbcType=NVARCHAR},
      MODULE_DESC = #{record.moduleDesc,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.mds.flowable.entity.MailInfo">
    update IBDS_MAIL_INFO
    <set>
      <if test="sendTo != null">
        SEND_TO = #{sendTo,jdbcType=NVARCHAR},
      </if>
      <if test="ccTo != null">
        CC_TO = #{ccTo,jdbcType=NVARCHAR},
      </if>
      <if test="subject != null">
        SUBJECT = #{subject,jdbcType=NVARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="processId != null">
        PROCESS_ID = #{processId,jdbcType=INTEGER},
      </if>
      <if test="applyCode != null">
        APPLY_CODE = #{applyCode,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=NVARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=NVARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=NVARCHAR},
      </if>
      <if test="moduleDesc != null">
        MODULE_DESC = #{moduleDesc,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.mds.flowable.entity.MailInfo">
    update IBDS_MAIL_INFO
    set SEND_TO = #{sendTo,jdbcType=NVARCHAR},
      CC_TO = #{ccTo,jdbcType=NVARCHAR},
      SUBJECT = #{subject,jdbcType=NVARCHAR},
      CONTENT = #{content,jdbcType=NVARCHAR},
      PROCESS_ID = #{processId,jdbcType=INTEGER},
      APPLY_CODE = #{applyCode,jdbcType=NVARCHAR},
      STATUS = #{status,jdbcType=NVARCHAR},
      CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      TASK_ID = #{taskId,jdbcType=NVARCHAR},
      URL = #{url,jdbcType=NVARCHAR},
      MODULE_DESC = #{moduleDesc,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>