<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.flowable.dao.PartPdmNotSyncMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.flowable.entity.PartPdmNotSync">
    <result column="RESPPARTY" jdbcType="NVARCHAR" property="respparty" />
    <result column="H3SECONDLEVELDEPT" jdbcType="NVARCHAR" property="h3secondleveldept" />
    <result column="S1CONTACTPHONENUM" jdbcType="NVARCHAR" property="s1contactphonenum" />
    <result column="DOCUMENTNAME" jdbcType="NVARCHAR" property="documentname" />
    <result column="S1PARTNUMBER" jdbcType="NVARCHAR" property="s1partnumber" />
    <result column="S1PARTDESCELEMENTS" jdbcType="NVARCHAR" property="s1partdescelements" />
    <result column="S1INTERNALMODEL" jdbcType="NVARCHAR" property="s1internalmodel" />
    <result column="S1INTENGLISHDESC" jdbcType="NVARCHAR" property="s1intenglishdesc" />
    <result column="S1EXTCHINESEDESC" jdbcType="NVARCHAR" property="s1extchinesedesc" />
    <result column="S1EXTENGLISHDESC" jdbcType="NVARCHAR" property="s1extenglishdesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RESPPARTY, H3SECONDLEVELDEPT, S1CONTACTPHONENUM, DOCUMENTNAME, S1PARTNUMBER, S1PARTDESCELEMENTS, 
    S1INTERNALMODEL, S1INTENGLISHDESC, S1EXTCHINESEDESC, S1EXTENGLISHDESC
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.flowable.entity.PartPdmNotSyncExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from part_pdm_notsync
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.flowable.entity.PartPdmNotSyncExample">
    delete from part_pdm_notsync
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.flowable.entity.PartPdmNotSync">
    insert into part_pdm_notsync (RESPPARTY, H3SECONDLEVELDEPT, S1CONTACTPHONENUM, 
      DOCUMENTNAME, S1PARTNUMBER, S1PARTDESCELEMENTS, 
      S1INTERNALMODEL, S1INTENGLISHDESC, S1EXTCHINESEDESC, 
      S1EXTENGLISHDESC)
    values (#{respparty,jdbcType=NVARCHAR}, #{h3secondleveldept,jdbcType=NVARCHAR}, #{s1contactphonenum,jdbcType=NVARCHAR}, 
      #{documentname,jdbcType=NVARCHAR}, #{s1partnumber,jdbcType=NVARCHAR}, #{s1partdescelements,jdbcType=NVARCHAR}, 
      #{s1internalmodel,jdbcType=NVARCHAR}, #{s1intenglishdesc,jdbcType=NVARCHAR}, #{s1extchinesedesc,jdbcType=NVARCHAR}, 
      #{s1extenglishdesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.flowable.entity.PartPdmNotSync">
    insert into part_pdm_notsync
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="respparty != null">
        RESPPARTY,
      </if>
      <if test="h3secondleveldept != null">
        H3SECONDLEVELDEPT,
      </if>
      <if test="s1contactphonenum != null">
        S1CONTACTPHONENUM,
      </if>
      <if test="documentname != null">
        DOCUMENTNAME,
      </if>
      <if test="s1partnumber != null">
        S1PARTNUMBER,
      </if>
      <if test="s1partdescelements != null">
        S1PARTDESCELEMENTS,
      </if>
      <if test="s1internalmodel != null">
        S1INTERNALMODEL,
      </if>
      <if test="s1intenglishdesc != null">
        S1INTENGLISHDESC,
      </if>
      <if test="s1extchinesedesc != null">
        S1EXTCHINESEDESC,
      </if>
      <if test="s1extenglishdesc != null">
        S1EXTENGLISHDESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="respparty != null">
        #{respparty,jdbcType=NVARCHAR},
      </if>
      <if test="h3secondleveldept != null">
        #{h3secondleveldept,jdbcType=NVARCHAR},
      </if>
      <if test="s1contactphonenum != null">
        #{s1contactphonenum,jdbcType=NVARCHAR},
      </if>
      <if test="documentname != null">
        #{documentname,jdbcType=NVARCHAR},
      </if>
      <if test="s1partnumber != null">
        #{s1partnumber,jdbcType=NVARCHAR},
      </if>
      <if test="s1partdescelements != null">
        #{s1partdescelements,jdbcType=NVARCHAR},
      </if>
      <if test="s1internalmodel != null">
        #{s1internalmodel,jdbcType=NVARCHAR},
      </if>
      <if test="s1intenglishdesc != null">
        #{s1intenglishdesc,jdbcType=NVARCHAR},
      </if>
      <if test="s1extchinesedesc != null">
        #{s1extchinesedesc,jdbcType=NVARCHAR},
      </if>
      <if test="s1extenglishdesc != null">
        #{s1extenglishdesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.flowable.entity.PartPdmNotSyncExample" resultType="java.lang.Long">
    select count(*) from part_pdm_notsync
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update part_pdm_notsync
    <set>
      <if test="record.respparty != null">
        RESPPARTY = #{record.respparty,jdbcType=NVARCHAR},
      </if>
      <if test="record.h3secondleveldept != null">
        H3SECONDLEVELDEPT = #{record.h3secondleveldept,jdbcType=NVARCHAR},
      </if>
      <if test="record.s1contactphonenum != null">
        S1CONTACTPHONENUM = #{record.s1contactphonenum,jdbcType=NVARCHAR},
      </if>
      <if test="record.documentname != null">
        DOCUMENTNAME = #{record.documentname,jdbcType=NVARCHAR},
      </if>
      <if test="record.s1partnumber != null">
        S1PARTNUMBER = #{record.s1partnumber,jdbcType=NVARCHAR},
      </if>
      <if test="record.s1partdescelements != null">
        S1PARTDESCELEMENTS = #{record.s1partdescelements,jdbcType=NVARCHAR},
      </if>
      <if test="record.s1internalmodel != null">
        S1INTERNALMODEL = #{record.s1internalmodel,jdbcType=NVARCHAR},
      </if>
      <if test="record.s1intenglishdesc != null">
        S1INTENGLISHDESC = #{record.s1intenglishdesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.s1extchinesedesc != null">
        S1EXTCHINESEDESC = #{record.s1extchinesedesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.s1extenglishdesc != null">
        S1EXTENGLISHDESC = #{record.s1extenglishdesc,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update part_pdm_notsync
    set RESPPARTY = #{record.respparty,jdbcType=NVARCHAR},
      H3SECONDLEVELDEPT = #{record.h3secondleveldept,jdbcType=NVARCHAR},
      S1CONTACTPHONENUM = #{record.s1contactphonenum,jdbcType=NVARCHAR},
      DOCUMENTNAME = #{record.documentname,jdbcType=NVARCHAR},
      S1PARTNUMBER = #{record.s1partnumber,jdbcType=NVARCHAR},
      S1PARTDESCELEMENTS = #{record.s1partdescelements,jdbcType=NVARCHAR},
      S1INTERNALMODEL = #{record.s1internalmodel,jdbcType=NVARCHAR},
      S1INTENGLISHDESC = #{record.s1intenglishdesc,jdbcType=NVARCHAR},
      S1EXTCHINESEDESC = #{record.s1extchinesedesc,jdbcType=NVARCHAR},
      S1EXTENGLISHDESC = #{record.s1extenglishdesc,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>