<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.flowable.dao.PartCodeApplyMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.flowable.entity.PartCodeApply">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PRODLINE_NAME" jdbcType="NVARCHAR" property="prodlineName" />
    <result column="PRODUCT_NAME" jdbcType="NVARCHAR" property="productName" />
    <result column="PROJECT_NAME" jdbcType="NVARCHAR" property="projectName" />
    <result column="PROJECT_NO" jdbcType="NVARCHAR" property="projectNo" />
    <result column="PRODUCT_NUM" jdbcType="NVARCHAR" property="productNum" />
    <result column="PRODLINE_NO" jdbcType="NVARCHAR" property="prodlineNo" />
    <result column="PRODUCT_NO" jdbcType="NVARCHAR" property="productNo" />
    <result column="PRODUCT_CODE" jdbcType="NVARCHAR" property="productCode" />
    <result column="PRODUCT_NAME_CN" jdbcType="NVARCHAR" property="productNameCn" />
    <result column="PRODUCT_NAME_EN" jdbcType="NVARCHAR" property="productNameEn" />
    <result column="BASIS_MATERIAL" jdbcType="NVARCHAR" property="basisMaterial" />
    <result column="PROCESS_CODE" jdbcType="NVARCHAR" property="processCode" />
    <result column="ORDER_BY" jdbcType="INTEGER" property="orderBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="NVARCHAR" property="createUser" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="MODIFY_USER" jdbcType="NVARCHAR" property="modifyUser" />
    <result column="NOTE" jdbcType="NVARCHAR" property="note" />
    <result column="INSIDE_DESC_EN" jdbcType="NVARCHAR" property="insideDescEn" />
    <result column="ABROAD_DESC_CN" jdbcType="NVARCHAR" property="abroadDescCn" />
    <result column="ABROAD_DESC_EN" jdbcType="NVARCHAR" property="abroadDescEn" />
    <result column="BUSINESS_MODEL" jdbcType="NVARCHAR" property="businessModel" />
    <result column="datasource" jdbcType="NVARCHAR" property="datasource" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="PRODLINE_ID" jdbcType="INTEGER" property="prodlineId" />
    <result column="PROD_ID" jdbcType="INTEGER" property="prodId" />
    <result column="FPROD_CODE_ID" jdbcType="INTEGER" property="fprodCodeId" />
    <result column="BUSINESS_MODEL_ID" jdbcType="VARCHAR" property="businessModelId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PRODLINE_NAME, PRODUCT_NAME, PROJECT_NAME, PROJECT_NO, PRODUCT_NUM, PRODLINE_NO, 
    PRODUCT_NO, PRODUCT_CODE, PRODUCT_NAME_CN, PRODUCT_NAME_EN, BASIS_MATERIAL, PROCESS_CODE, 
    ORDER_BY, CREATE_DATE, CREATE_USER, MODIFY_DATE, MODIFY_USER, NOTE, INSIDE_DESC_EN, 
    ABROAD_DESC_CN, ABROAD_DESC_EN, BUSINESS_MODEL, datasource, status, PRODLINE_ID, 
    PROD_ID, FPROD_CODE_ID, BUSINESS_MODEL_ID
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.flowable.entity.PartCodeApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_PART_CODE_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IBDS_PART_CODE_APPLY
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IBDS_PART_CODE_APPLY
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.mds.flowable.entity.PartCodeApplyExample">
    delete from IBDS_PART_CODE_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.flowable.entity.PartCodeApply">
    insert into IBDS_PART_CODE_APPLY (ID, PRODLINE_NAME, PRODUCT_NAME, 
      PROJECT_NAME, PROJECT_NO, PRODUCT_NUM, 
      PRODLINE_NO, PRODUCT_NO, PRODUCT_CODE, 
      PRODUCT_NAME_CN, PRODUCT_NAME_EN, BASIS_MATERIAL, 
      PROCESS_CODE, ORDER_BY, CREATE_DATE, 
      CREATE_USER, MODIFY_DATE, MODIFY_USER, 
      NOTE, INSIDE_DESC_EN, ABROAD_DESC_CN, 
      ABROAD_DESC_EN, BUSINESS_MODEL, datasource, 
      status, PRODLINE_ID, PROD_ID, 
      FPROD_CODE_ID, BUSINESS_MODEL_ID)
    values (#{id,jdbcType=INTEGER}, #{prodlineName,jdbcType=NVARCHAR}, #{productName,jdbcType=NVARCHAR}, 
      #{projectName,jdbcType=NVARCHAR}, #{projectNo,jdbcType=NVARCHAR}, #{productNum,jdbcType=NVARCHAR}, 
      #{prodlineNo,jdbcType=NVARCHAR}, #{productNo,jdbcType=NVARCHAR}, #{productCode,jdbcType=NVARCHAR}, 
      #{productNameCn,jdbcType=NVARCHAR}, #{productNameEn,jdbcType=NVARCHAR}, #{basisMaterial,jdbcType=NVARCHAR}, 
      #{processCode,jdbcType=NVARCHAR}, #{orderBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=NVARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=NVARCHAR}, 
      #{note,jdbcType=NVARCHAR}, #{insideDescEn,jdbcType=NVARCHAR}, #{abroadDescCn,jdbcType=NVARCHAR}, 
      #{abroadDescEn,jdbcType=NVARCHAR}, #{businessModel,jdbcType=NVARCHAR}, #{datasource,jdbcType=NVARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{prodlineId,jdbcType=INTEGER}, #{prodId,jdbcType=INTEGER}, 
      #{fprodCodeId,jdbcType=INTEGER}, #{businessModelId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.flowable.entity.PartCodeApply">
    insert into IBDS_PART_CODE_APPLY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="prodlineName != null">
        PRODLINE_NAME,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="projectNo != null">
        PROJECT_NO,
      </if>
      <if test="productNum != null">
        PRODUCT_NUM,
      </if>
      <if test="prodlineNo != null">
        PRODLINE_NO,
      </if>
      <if test="productNo != null">
        PRODUCT_NO,
      </if>
      <if test="productCode != null">
        PRODUCT_CODE,
      </if>
      <if test="productNameCn != null">
        PRODUCT_NAME_CN,
      </if>
      <if test="productNameEn != null">
        PRODUCT_NAME_EN,
      </if>
      <if test="basisMaterial != null">
        BASIS_MATERIAL,
      </if>
      <if test="processCode != null">
        PROCESS_CODE,
      </if>
      <if test="orderBy != null">
        ORDER_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="insideDescEn != null">
        INSIDE_DESC_EN,
      </if>
      <if test="abroadDescCn != null">
        ABROAD_DESC_CN,
      </if>
      <if test="abroadDescEn != null">
        ABROAD_DESC_EN,
      </if>
      <if test="businessModel != null">
        BUSINESS_MODEL,
      </if>
      <if test="datasource != null">
        datasource,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="prodlineId != null">
        PRODLINE_ID,
      </if>
      <if test="prodId != null">
        PROD_ID,
      </if>
      <if test="fprodCodeId != null">
        FPROD_CODE_ID,
      </if>
      <if test="businessModelId != null">
        BUSINESS_MODEL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prodlineName != null">
        #{prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=NVARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=NVARCHAR},
      </if>
      <if test="projectNo != null">
        #{projectNo,jdbcType=NVARCHAR},
      </if>
      <if test="productNum != null">
        #{productNum,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineNo != null">
        #{prodlineNo,jdbcType=NVARCHAR},
      </if>
      <if test="productNo != null">
        #{productNo,jdbcType=NVARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=NVARCHAR},
      </if>
      <if test="productNameCn != null">
        #{productNameCn,jdbcType=NVARCHAR},
      </if>
      <if test="productNameEn != null">
        #{productNameEn,jdbcType=NVARCHAR},
      </if>
      <if test="basisMaterial != null">
        #{basisMaterial,jdbcType=NVARCHAR},
      </if>
      <if test="processCode != null">
        #{processCode,jdbcType=NVARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=NVARCHAR},
      </if>
      <if test="insideDescEn != null">
        #{insideDescEn,jdbcType=NVARCHAR},
      </if>
      <if test="abroadDescCn != null">
        #{abroadDescCn,jdbcType=NVARCHAR},
      </if>
      <if test="abroadDescEn != null">
        #{abroadDescEn,jdbcType=NVARCHAR},
      </if>
      <if test="businessModel != null">
        #{businessModel,jdbcType=NVARCHAR},
      </if>
      <if test="datasource != null">
        #{datasource,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="prodlineId != null">
        #{prodlineId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="fprodCodeId != null">
        #{fprodCodeId,jdbcType=INTEGER},
      </if>
      <if test="businessModelId != null">
        #{businessModelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.flowable.entity.PartCodeApplyExample" resultType="java.lang.Long">
    select count(*) from IBDS_PART_CODE_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_PART_CODE_APPLY
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prodlineName != null">
        PRODLINE_NAME = #{record.prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="record.productName != null">
        PRODUCT_NAME = #{record.productName,jdbcType=NVARCHAR},
      </if>
      <if test="record.projectName != null">
        PROJECT_NAME = #{record.projectName,jdbcType=NVARCHAR},
      </if>
      <if test="record.projectNo != null">
        PROJECT_NO = #{record.projectNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.productNum != null">
        PRODUCT_NUM = #{record.productNum,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineNo != null">
        PRODLINE_NO = #{record.prodlineNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.productNo != null">
        PRODUCT_NO = #{record.productNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.productCode != null">
        PRODUCT_CODE = #{record.productCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.productNameCn != null">
        PRODUCT_NAME_CN = #{record.productNameCn,jdbcType=NVARCHAR},
      </if>
      <if test="record.productNameEn != null">
        PRODUCT_NAME_EN = #{record.productNameEn,jdbcType=NVARCHAR},
      </if>
      <if test="record.basisMaterial != null">
        BASIS_MATERIAL = #{record.basisMaterial,jdbcType=NVARCHAR},
      </if>
      <if test="record.processCode != null">
        PROCESS_CODE = #{record.processCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.orderBy != null">
        ORDER_BY = #{record.orderBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyDate != null">
        MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUser != null">
        MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.note != null">
        NOTE = #{record.note,jdbcType=NVARCHAR},
      </if>
      <if test="record.insideDescEn != null">
        INSIDE_DESC_EN = #{record.insideDescEn,jdbcType=NVARCHAR},
      </if>
      <if test="record.abroadDescCn != null">
        ABROAD_DESC_CN = #{record.abroadDescCn,jdbcType=NVARCHAR},
      </if>
      <if test="record.abroadDescEn != null">
        ABROAD_DESC_EN = #{record.abroadDescEn,jdbcType=NVARCHAR},
      </if>
      <if test="record.businessModel != null">
        BUSINESS_MODEL = #{record.businessModel,jdbcType=NVARCHAR},
      </if>
      <if test="record.datasource != null">
        datasource = #{record.datasource,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.prodlineId != null">
        PRODLINE_ID = #{record.prodlineId,jdbcType=INTEGER},
      </if>
      <if test="record.prodId != null">
        PROD_ID = #{record.prodId,jdbcType=INTEGER},
      </if>
      <if test="record.fprodCodeId != null">
        FPROD_CODE_ID = #{record.fprodCodeId,jdbcType=INTEGER},
      </if>
      <if test="record.businessModelId != null">
        BUSINESS_MODEL_ID = #{record.businessModelId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_PART_CODE_APPLY
    set ID = #{record.id,jdbcType=INTEGER},
      PRODLINE_NAME = #{record.prodlineName,jdbcType=NVARCHAR},
      PRODUCT_NAME = #{record.productName,jdbcType=NVARCHAR},
      PROJECT_NAME = #{record.projectName,jdbcType=NVARCHAR},
      PROJECT_NO = #{record.projectNo,jdbcType=NVARCHAR},
      PRODUCT_NUM = #{record.productNum,jdbcType=NVARCHAR},
      PRODLINE_NO = #{record.prodlineNo,jdbcType=NVARCHAR},
      PRODUCT_NO = #{record.productNo,jdbcType=NVARCHAR},
      PRODUCT_CODE = #{record.productCode,jdbcType=NVARCHAR},
      PRODUCT_NAME_CN = #{record.productNameCn,jdbcType=NVARCHAR},
      PRODUCT_NAME_EN = #{record.productNameEn,jdbcType=NVARCHAR},
      BASIS_MATERIAL = #{record.basisMaterial,jdbcType=NVARCHAR},
      PROCESS_CODE = #{record.processCode,jdbcType=NVARCHAR},
      ORDER_BY = #{record.orderBy,jdbcType=INTEGER},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      NOTE = #{record.note,jdbcType=NVARCHAR},
      INSIDE_DESC_EN = #{record.insideDescEn,jdbcType=NVARCHAR},
      ABROAD_DESC_CN = #{record.abroadDescCn,jdbcType=NVARCHAR},
      ABROAD_DESC_EN = #{record.abroadDescEn,jdbcType=NVARCHAR},
      BUSINESS_MODEL = #{record.businessModel,jdbcType=NVARCHAR},
      datasource = #{record.datasource,jdbcType=NVARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      PRODLINE_ID = #{record.prodlineId,jdbcType=INTEGER},
      PROD_ID = #{record.prodId,jdbcType=INTEGER},
      FPROD_CODE_ID = #{record.fprodCodeId,jdbcType=INTEGER},
      BUSINESS_MODEL_ID = #{record.businessModelId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.mds.flowable.entity.PartCodeApply">
    update IBDS_PART_CODE_APPLY
    <set>
      <if test="prodlineName != null">
        PRODLINE_NAME = #{prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="productName != null">
        PRODUCT_NAME = #{productName,jdbcType=NVARCHAR},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=NVARCHAR},
      </if>
      <if test="projectNo != null">
        PROJECT_NO = #{projectNo,jdbcType=NVARCHAR},
      </if>
      <if test="productNum != null">
        PRODUCT_NUM = #{productNum,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineNo != null">
        PRODLINE_NO = #{prodlineNo,jdbcType=NVARCHAR},
      </if>
      <if test="productNo != null">
        PRODUCT_NO = #{productNo,jdbcType=NVARCHAR},
      </if>
      <if test="productCode != null">
        PRODUCT_CODE = #{productCode,jdbcType=NVARCHAR},
      </if>
      <if test="productNameCn != null">
        PRODUCT_NAME_CN = #{productNameCn,jdbcType=NVARCHAR},
      </if>
      <if test="productNameEn != null">
        PRODUCT_NAME_EN = #{productNameEn,jdbcType=NVARCHAR},
      </if>
      <if test="basisMaterial != null">
        BASIS_MATERIAL = #{basisMaterial,jdbcType=NVARCHAR},
      </if>
      <if test="processCode != null">
        PROCESS_CODE = #{processCode,jdbcType=NVARCHAR},
      </if>
      <if test="orderBy != null">
        ORDER_BY = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=NVARCHAR},
      </if>
      <if test="insideDescEn != null">
        INSIDE_DESC_EN = #{insideDescEn,jdbcType=NVARCHAR},
      </if>
      <if test="abroadDescCn != null">
        ABROAD_DESC_CN = #{abroadDescCn,jdbcType=NVARCHAR},
      </if>
      <if test="abroadDescEn != null">
        ABROAD_DESC_EN = #{abroadDescEn,jdbcType=NVARCHAR},
      </if>
      <if test="businessModel != null">
        BUSINESS_MODEL = #{businessModel,jdbcType=NVARCHAR},
      </if>
      <if test="datasource != null">
        datasource = #{datasource,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="prodlineId != null">
        PRODLINE_ID = #{prodlineId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null">
        PROD_ID = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="fprodCodeId != null">
        FPROD_CODE_ID = #{fprodCodeId,jdbcType=INTEGER},
      </if>
      <if test="businessModelId != null">
        BUSINESS_MODEL_ID = #{businessModelId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.mds.flowable.entity.PartCodeApply">
    update IBDS_PART_CODE_APPLY
    set PRODLINE_NAME = #{prodlineName,jdbcType=NVARCHAR},
      PRODUCT_NAME = #{productName,jdbcType=NVARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=NVARCHAR},
      PROJECT_NO = #{projectNo,jdbcType=NVARCHAR},
      PRODUCT_NUM = #{productNum,jdbcType=NVARCHAR},
      PRODLINE_NO = #{prodlineNo,jdbcType=NVARCHAR},
      PRODUCT_NO = #{productNo,jdbcType=NVARCHAR},
      PRODUCT_CODE = #{productCode,jdbcType=NVARCHAR},
      PRODUCT_NAME_CN = #{productNameCn,jdbcType=NVARCHAR},
      PRODUCT_NAME_EN = #{productNameEn,jdbcType=NVARCHAR},
      BASIS_MATERIAL = #{basisMaterial,jdbcType=NVARCHAR},
      PROCESS_CODE = #{processCode,jdbcType=NVARCHAR},
      ORDER_BY = #{orderBy,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      NOTE = #{note,jdbcType=NVARCHAR},
      INSIDE_DESC_EN = #{insideDescEn,jdbcType=NVARCHAR},
      ABROAD_DESC_CN = #{abroadDescCn,jdbcType=NVARCHAR},
      ABROAD_DESC_EN = #{abroadDescEn,jdbcType=NVARCHAR},
      BUSINESS_MODEL = #{businessModel,jdbcType=NVARCHAR},
      datasource = #{datasource,jdbcType=NVARCHAR},
      status = #{status,jdbcType=VARCHAR},
      PRODLINE_ID = #{prodlineId,jdbcType=INTEGER},
      PROD_ID = #{prodId,jdbcType=INTEGER},
      FPROD_CODE_ID = #{fprodCodeId,jdbcType=INTEGER},
      BUSINESS_MODEL_ID = #{businessModelId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>