<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.flowable.dao.PartCronMapper">
  
  <select id="getCronByType" parameterType="map" resultType="map">
  		select top 1  cron from IBDS_PART_CRON cron where cron.cron_type=#{cronType}
  </select>
</mapper>