<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.auth.dao.DataPermMapper">
  
  <select id="getByUserAccountAndResource" resultMap="BaseResultMap">
    SELECT DISTINCT  A.* FROM IBDS_DATA_PERM A JOIN IBDS_ROLE_DATA B ON A.ID=B.DATA_ID JOIN IBDS_Role C ON B.ROLE_ID=C.HRL_ID JOIN IBDS_User_Role D ON C.HRL_CODE=D.HURR_HRL_CODE AND D.HURR_HUL_CODE=#{account} WHERE A.RESOURCE=#{resource} AND A.TYPE=#{type}
  </select>
</mapper>