USE [IBDSDB]
GO
/****** Object:  Table [dbo].[IBDS_ColunmConfig]    Script Date: 2019/11/6 17:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IBDS_ColunmConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ColumnCode] [nvarchar](200) NULL,
	[ColumnName] [nvarchar](500) NULL,
	[ColumnGroup] [nvarchar](500) NULL,
	[GroupOrder] [int] NULL,
	[QueryOrder] [int] NULL,
	[AddOrder] [int] NULL,
	[EditOrder] [int] NULL,
	[ColumnOrder] [int] NULL,
	[Type] [varchar](2) NULL,
	[AddFlag] [int] NULL,
	[EditFlag] [int] NULL,
	[Flag] [int] NULL,
	[QueryFlag] [int] NULL,
	[ColumnFlag] [int] NULL,
	[EditStatus] [int] NULL,
	[IPMTCheck] [int] NULL,
	[CreateUser] [varchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[ModifyUser] [varchar](100) NULL,
	[ModifyDate] [datetime] NULL,
	[Remark] [nvarchar](500) NULL,
	[ColumnClass] [nvarchar](200) NULL,
	[ColumnType] [nvarchar](200) NULL,
	[ColumnValidate] [nvarchar](500) NULL,
	[ColumnMessage] [nvarchar](500) NULL,
	[ValidateLength] [nvarchar](500) NULL,
	[IsReferenceShow] [int] NULL,
 CONSTRAINT [PK_ColunmConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[IBDS_ColunmConfig] ON 

INSERT [dbo].[IBDS_ColunmConfig] ([ID], [ColumnCode], [ColumnName], [ColumnGroup], [GroupOrder], [QueryOrder], [AddOrder], [EditOrder], [ColumnOrder], [Type], [AddFlag], [EditFlag], [Flag], [QueryFlag], [ColumnFlag], [EditStatus], [IPMTCheck], [CreateUser], [CreateDate], [ModifyUser], [ModifyDate], [Remark], [ColumnClass], [ColumnType], [ColumnValidate], [ColumnMessage], [ValidateLength], [IsReferenceShow]) VALUES (3, N'releaseold', N'产品R级曾用名', N'产品R级基本信息', 1, 70, 12, 12, 30, N'PR', 0, 1, 1, 0, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, N'easyui-textbox', N'textbox', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[IBDS_ColunmConfig] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识列' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'中文名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'GroupOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'查询排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'QueryOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'新增 排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'AddOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'EditOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'配置列排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型 新增TR类型  代表获取PDT下面所有R级成员信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'新增列显示  0显示  1不显示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'AddFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编辑列显示 0显示 1不显示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'EditFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态(标记是否停用 0启用 1停用)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'Flag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'查询状态(0 显示 1不显示)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'QueryFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'属性状态(0显示 1不显示)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可编辑(0可编辑 1不可编辑)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'EditStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否需要IPMT秘书审核  (0需要 1不需要)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'IPMTCheck'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'样式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnClass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'字段类型 关联字典表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'校验' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnValidate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提示信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ColumnMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'校验长度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'ValidateLength'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'参照框中是否展示 1:展示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IBDS_ColunmConfig', @level2type=N'COLUMN',@level2name=N'IsReferenceShow'
GO
