<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.product.dao.IBDS_ProductMapper">
  <select id="getMaxCode" resultType="String">
  		select max(ProductNo) from IBDS_Product WHERE ProductNo LIKE 'PP%';
  </select>

  <select id="selectByCode" parameterType="String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from IBDS_Product WHERE ProductNo=#{code}
  </select>
  
  <select id="selectByID" parameterType="Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from IBDS_Product WHERE ID=#{code}
  </select>
</mapper>