<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.product.dao.IBDS_RDProductMapper">
 <select id="getRDProduct" parameterType="map" resultMap="BaseResultMap">
   select distinct productno,product from IBDS_RDProduct 
   </select>

</mapper>