<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.product.dao.IBDS_PLIPMTMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.product.entity.IBDS_PLIPMT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="PLIPMTNo" jdbcType="NVARCHAR" property="plipmtno" />
    <result column="PLIPMT" jdbcType="NVARCHAR" property="plipmt" />
    <result column="engPLIPMT" jdbcType="NVARCHAR" property="engplipmt" />
    <result column="PLIPMTOld" jdbcType="NVARCHAR" property="plipmtold" />
    <result column="Status" jdbcType="NVARCHAR" property="status" />
    <result column="PLIPMT_Umpire" jdbcType="NVARCHAR" property="plipmtUmpire" />
    <result column="PLIPMT_ViceUmpire" jdbcType="NVARCHAR" property="plipmtViceumpire" />
    <result column="PLIMPT_Secretary" jdbcType="NVARCHAR" property="plimptSecretary" />
    <result column="PLIPMT_Members" jdbcType="NVARCHAR" property="plipmtMembers" />
    <result column="Remark" jdbcType="NVARCHAR" property="remark" />
    <result column="PLIPMT_PDM_Mnger" jdbcType="NVARCHAR" property="plipmtPdmMnger" />
    <result column="CREATE_USER" jdbcType="NVARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFY_USER" jdbcType="NVARCHAR" property="modifyUser" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="Readers" jdbcType="NVARCHAR" property="readers" />
    <result column="Column01" jdbcType="NVARCHAR" property="column01" />
    <result column="Column02" jdbcType="NVARCHAR" property="column02" />
    <result column="Column03" jdbcType="NVARCHAR" property="column03" />
    <result column="Column04" jdbcType="NVARCHAR" property="column04" />
    <result column="Column05" jdbcType="NVARCHAR" property="column05" />
    <result column="Column06" jdbcType="NVARCHAR" property="column06" />
    <result column="Column07" jdbcType="NVARCHAR" property="column07" />
    <result column="Column08" jdbcType="NVARCHAR" property="column08" />
    <result column="Column09" jdbcType="NVARCHAR" property="column09" />
    <result column="Column10" jdbcType="NVARCHAR" property="column10" />
    <result column="PLIPMT_ORDER" jdbcType="INTEGER" property="plipmtOrder" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, PLIPMTNo, PLIPMT, engPLIPMT, PLIPMTOld, Status, PLIPMT_Umpire, PLIPMT_ViceUmpire, 
    PLIMPT_Secretary, PLIPMT_Members, Remark, PLIPMT_PDM_Mnger, CREATE_USER, CREATE_DATE, 
    MODIFY_USER, MODIFY_DATE, Readers, Column01, Column02, Column03, Column04, Column05, 
    Column06, Column07, Column08, Column09, Column10, PLIPMT_ORDER
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.product.entity.IBDS_PLIPMTExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_PLIPMT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IBDS_PLIPMT
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IBDS_PLIPMT
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.mds.product.entity.IBDS_PLIPMTExample">
    delete from IBDS_PLIPMT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.product.entity.IBDS_PLIPMT">
    insert into IBDS_PLIPMT (id, PLIPMTNo, PLIPMT, 
      engPLIPMT, PLIPMTOld, Status, 
      PLIPMT_Umpire, PLIPMT_ViceUmpire, PLIMPT_Secretary, 
      PLIPMT_Members, Remark, PLIPMT_PDM_Mnger, 
      CREATE_USER, CREATE_DATE, MODIFY_USER, 
      MODIFY_DATE, Readers, Column01, 
      Column02, Column03, Column04, 
      Column05, Column06, Column07, 
      Column08, Column09, Column10, 
      PLIPMT_ORDER)
    values (#{id,jdbcType=INTEGER}, #{plipmtno,jdbcType=NVARCHAR}, #{plipmt,jdbcType=NVARCHAR}, 
      #{engplipmt,jdbcType=NVARCHAR}, #{plipmtold,jdbcType=NVARCHAR}, #{status,jdbcType=NVARCHAR}, 
      #{plipmtUmpire,jdbcType=NVARCHAR}, #{plipmtViceumpire,jdbcType=NVARCHAR}, #{plimptSecretary,jdbcType=NVARCHAR}, 
      #{plipmtMembers,jdbcType=NVARCHAR}, #{remark,jdbcType=NVARCHAR}, #{plipmtPdmMnger,jdbcType=NVARCHAR}, 
      #{createUser,jdbcType=NVARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=NVARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{readers,jdbcType=NVARCHAR}, #{column01,jdbcType=NVARCHAR}, 
      #{column02,jdbcType=NVARCHAR}, #{column03,jdbcType=NVARCHAR}, #{column04,jdbcType=NVARCHAR}, 
      #{column05,jdbcType=NVARCHAR}, #{column06,jdbcType=NVARCHAR}, #{column07,jdbcType=NVARCHAR}, 
      #{column08,jdbcType=NVARCHAR}, #{column09,jdbcType=NVARCHAR}, #{column10,jdbcType=NVARCHAR}, 
      #{plipmtOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.product.entity.IBDS_PLIPMT">
    insert into IBDS_PLIPMT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plipmtno != null">
        PLIPMTNo,
      </if>
      <if test="plipmt != null">
        PLIPMT,
      </if>
      <if test="engplipmt != null">
        engPLIPMT,
      </if>
      <if test="plipmtold != null">
        PLIPMTOld,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="plipmtUmpire != null">
        PLIPMT_Umpire,
      </if>
      <if test="plipmtViceumpire != null">
        PLIPMT_ViceUmpire,
      </if>
      <if test="plimptSecretary != null">
        PLIMPT_Secretary,
      </if>
      <if test="plipmtMembers != null">
        PLIPMT_Members,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="plipmtPdmMnger != null">
        PLIPMT_PDM_Mnger,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
      <if test="readers != null">
        Readers,
      </if>
      <if test="column01 != null">
        Column01,
      </if>
      <if test="column02 != null">
        Column02,
      </if>
      <if test="column03 != null">
        Column03,
      </if>
      <if test="column04 != null">
        Column04,
      </if>
      <if test="column05 != null">
        Column05,
      </if>
      <if test="column06 != null">
        Column06,
      </if>
      <if test="column07 != null">
        Column07,
      </if>
      <if test="column08 != null">
        Column08,
      </if>
      <if test="column09 != null">
        Column09,
      </if>
      <if test="column10 != null">
        Column10,
      </if>
      <if test="plipmtOrder != null">
        PLIPMT_ORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="plipmtno != null">
        #{plipmtno,jdbcType=NVARCHAR},
      </if>
      <if test="plipmt != null">
        #{plipmt,jdbcType=NVARCHAR},
      </if>
      <if test="engplipmt != null">
        #{engplipmt,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtold != null">
        #{plipmtold,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtUmpire != null">
        #{plipmtUmpire,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtViceumpire != null">
        #{plipmtViceumpire,jdbcType=NVARCHAR},
      </if>
      <if test="plimptSecretary != null">
        #{plimptSecretary,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtMembers != null">
        #{plipmtMembers,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtPdmMnger != null">
        #{plipmtPdmMnger,jdbcType=NVARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="readers != null">
        #{readers,jdbcType=NVARCHAR},
      </if>
      <if test="column01 != null">
        #{column01,jdbcType=NVARCHAR},
      </if>
      <if test="column02 != null">
        #{column02,jdbcType=NVARCHAR},
      </if>
      <if test="column03 != null">
        #{column03,jdbcType=NVARCHAR},
      </if>
      <if test="column04 != null">
        #{column04,jdbcType=NVARCHAR},
      </if>
      <if test="column05 != null">
        #{column05,jdbcType=NVARCHAR},
      </if>
      <if test="column06 != null">
        #{column06,jdbcType=NVARCHAR},
      </if>
      <if test="column07 != null">
        #{column07,jdbcType=NVARCHAR},
      </if>
      <if test="column08 != null">
        #{column08,jdbcType=NVARCHAR},
      </if>
      <if test="column09 != null">
        #{column09,jdbcType=NVARCHAR},
      </if>
      <if test="column10 != null">
        #{column10,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtOrder != null">
        #{plipmtOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.product.entity.IBDS_PLIPMTExample" resultType="java.lang.Long">
    select count(*) from IBDS_PLIPMT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_PLIPMT
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.plipmtno != null">
        PLIPMTNo = #{record.plipmtno,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmt != null">
        PLIPMT = #{record.plipmt,jdbcType=NVARCHAR},
      </if>
      <if test="record.engplipmt != null">
        engPLIPMT = #{record.engplipmt,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmtold != null">
        PLIPMTOld = #{record.plipmtold,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmtUmpire != null">
        PLIPMT_Umpire = #{record.plipmtUmpire,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmtViceumpire != null">
        PLIPMT_ViceUmpire = #{record.plipmtViceumpire,jdbcType=NVARCHAR},
      </if>
      <if test="record.plimptSecretary != null">
        PLIMPT_Secretary = #{record.plimptSecretary,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmtMembers != null">
        PLIPMT_Members = #{record.plipmtMembers,jdbcType=NVARCHAR},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmtPdmMnger != null">
        PLIPMT_PDM_Mnger = #{record.plipmtPdmMnger,jdbcType=NVARCHAR},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUser != null">
        MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyDate != null">
        MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.readers != null">
        Readers = #{record.readers,jdbcType=NVARCHAR},
      </if>
      <if test="record.column01 != null">
        Column01 = #{record.column01,jdbcType=NVARCHAR},
      </if>
      <if test="record.column02 != null">
        Column02 = #{record.column02,jdbcType=NVARCHAR},
      </if>
      <if test="record.column03 != null">
        Column03 = #{record.column03,jdbcType=NVARCHAR},
      </if>
      <if test="record.column04 != null">
        Column04 = #{record.column04,jdbcType=NVARCHAR},
      </if>
      <if test="record.column05 != null">
        Column05 = #{record.column05,jdbcType=NVARCHAR},
      </if>
      <if test="record.column06 != null">
        Column06 = #{record.column06,jdbcType=NVARCHAR},
      </if>
      <if test="record.column07 != null">
        Column07 = #{record.column07,jdbcType=NVARCHAR},
      </if>
      <if test="record.column08 != null">
        Column08 = #{record.column08,jdbcType=NVARCHAR},
      </if>
      <if test="record.column09 != null">
        Column09 = #{record.column09,jdbcType=NVARCHAR},
      </if>
      <if test="record.column10 != null">
        Column10 = #{record.column10,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmtOrder != null">
        PLIPMT_ORDER = #{record.plipmtOrder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_PLIPMT
    set id = #{record.id,jdbcType=INTEGER},
      PLIPMTNo = #{record.plipmtno,jdbcType=NVARCHAR},
      PLIPMT = #{record.plipmt,jdbcType=NVARCHAR},
      engPLIPMT = #{record.engplipmt,jdbcType=NVARCHAR},
      PLIPMTOld = #{record.plipmtold,jdbcType=NVARCHAR},
      Status = #{record.status,jdbcType=NVARCHAR},
      PLIPMT_Umpire = #{record.plipmtUmpire,jdbcType=NVARCHAR},
      PLIPMT_ViceUmpire = #{record.plipmtViceumpire,jdbcType=NVARCHAR},
      PLIMPT_Secretary = #{record.plimptSecretary,jdbcType=NVARCHAR},
      PLIPMT_Members = #{record.plipmtMembers,jdbcType=NVARCHAR},
      Remark = #{record.remark,jdbcType=NVARCHAR},
      PLIPMT_PDM_Mnger = #{record.plipmtPdmMnger,jdbcType=NVARCHAR},
      CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      Readers = #{record.readers,jdbcType=NVARCHAR},
      Column01 = #{record.column01,jdbcType=NVARCHAR},
      Column02 = #{record.column02,jdbcType=NVARCHAR},
      Column03 = #{record.column03,jdbcType=NVARCHAR},
      Column04 = #{record.column04,jdbcType=NVARCHAR},
      Column05 = #{record.column05,jdbcType=NVARCHAR},
      Column06 = #{record.column06,jdbcType=NVARCHAR},
      Column07 = #{record.column07,jdbcType=NVARCHAR},
      Column08 = #{record.column08,jdbcType=NVARCHAR},
      Column09 = #{record.column09,jdbcType=NVARCHAR},
      Column10 = #{record.column10,jdbcType=NVARCHAR},
      PLIPMT_ORDER = #{record.plipmtOrder,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.mds.product.entity.IBDS_PLIPMT">
    update IBDS_PLIPMT
    <set>
      <if test="plipmtno != null">
        PLIPMTNo = #{plipmtno,jdbcType=NVARCHAR},
      </if>
      <if test="plipmt != null">
        PLIPMT = #{plipmt,jdbcType=NVARCHAR},
      </if>
      <if test="engplipmt != null">
        engPLIPMT = #{engplipmt,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtold != null">
        PLIPMTOld = #{plipmtold,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtUmpire != null">
        PLIPMT_Umpire = #{plipmtUmpire,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtViceumpire != null">
        PLIPMT_ViceUmpire = #{plipmtViceumpire,jdbcType=NVARCHAR},
      </if>
      <if test="plimptSecretary != null">
        PLIMPT_Secretary = #{plimptSecretary,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtMembers != null">
        PLIPMT_Members = #{plipmtMembers,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtPdmMnger != null">
        PLIPMT_PDM_Mnger = #{plipmtPdmMnger,jdbcType=NVARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="readers != null">
        Readers = #{readers,jdbcType=NVARCHAR},
      </if>
      <if test="column01 != null">
        Column01 = #{column01,jdbcType=NVARCHAR},
      </if>
      <if test="column02 != null">
        Column02 = #{column02,jdbcType=NVARCHAR},
      </if>
      <if test="column03 != null">
        Column03 = #{column03,jdbcType=NVARCHAR},
      </if>
      <if test="column04 != null">
        Column04 = #{column04,jdbcType=NVARCHAR},
      </if>
      <if test="column05 != null">
        Column05 = #{column05,jdbcType=NVARCHAR},
      </if>
      <if test="column06 != null">
        Column06 = #{column06,jdbcType=NVARCHAR},
      </if>
      <if test="column07 != null">
        Column07 = #{column07,jdbcType=NVARCHAR},
      </if>
      <if test="column08 != null">
        Column08 = #{column08,jdbcType=NVARCHAR},
      </if>
      <if test="column09 != null">
        Column09 = #{column09,jdbcType=NVARCHAR},
      </if>
      <if test="column10 != null">
        Column10 = #{column10,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtOrder != null">
        PLIPMT_ORDER = #{plipmtOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.mds.product.entity.IBDS_PLIPMT">
    update IBDS_PLIPMT
    set PLIPMTNo = #{plipmtno,jdbcType=NVARCHAR},
      PLIPMT = #{plipmt,jdbcType=NVARCHAR},
      engPLIPMT = #{engplipmt,jdbcType=NVARCHAR},
      PLIPMTOld = #{plipmtold,jdbcType=NVARCHAR},
      Status = #{status,jdbcType=NVARCHAR},
      PLIPMT_Umpire = #{plipmtUmpire,jdbcType=NVARCHAR},
      PLIPMT_ViceUmpire = #{plipmtViceumpire,jdbcType=NVARCHAR},
      PLIMPT_Secretary = #{plimptSecretary,jdbcType=NVARCHAR},
      PLIPMT_Members = #{plipmtMembers,jdbcType=NVARCHAR},
      Remark = #{remark,jdbcType=NVARCHAR},
      PLIPMT_PDM_Mnger = #{plipmtPdmMnger,jdbcType=NVARCHAR},
      CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      Readers = #{readers,jdbcType=NVARCHAR},
      Column01 = #{column01,jdbcType=NVARCHAR},
      Column02 = #{column02,jdbcType=NVARCHAR},
      Column03 = #{column03,jdbcType=NVARCHAR},
      Column04 = #{column04,jdbcType=NVARCHAR},
      Column05 = #{column05,jdbcType=NVARCHAR},
      Column06 = #{column06,jdbcType=NVARCHAR},
      Column07 = #{column07,jdbcType=NVARCHAR},
      Column08 = #{column08,jdbcType=NVARCHAR},
      Column09 = #{column09,jdbcType=NVARCHAR},
      Column10 = #{column10,jdbcType=NVARCHAR},
      PLIPMT_ORDER = #{plipmtOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>