<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.product.dao.IbdsMaxCodeMapper">
  <select id="getByName" parameterType="map" resultMap="BaseResultMap">
  	select top 1 * from ibds_maxcode with(rowlock)
  	where project_name =#{param.projectName} order by id desc
  </select>
</mapper>