<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.product.dao.IBDS_ModuleMapper">
    <select id="getMaxCode" resultType="String">
  		select max(MODULENo) from IBDS_MODULE WHERE MODULENo LIKE 'MD%';
    </select>
    
     <insert id="insertSelectiveBatch" useGeneratedKeys="true"  parameterType="com.h3c.mds.product.entity.IBDS_ModuleExample">
    insert into IBDS_MODULE (MODULENo, MODULE, 
      MODULEOld, engMODULE, PLIPMTNo, 
      PRODLINENo, PRODUCTNo, VERSIONNo, 
      RELEASENo, SUBSYSTEMNo, Readers, 
      Remark, Status, CREATED_USER, 
      CREATED_DATE, MODIFY_USER, MODIFY_DATA, 
      STANDBY1, STANDBY2, STANDBY3, 
      STANDBY4, STANDBY5, STANDBY6, 
      STANDBY7, STANDBY8, STANDBY9, 
      STANDBY10)
    values 
      <foreach collection="list" item="record" index="index" separator=",">
      (#{record.moduleno,jdbcType=NVARCHAR}, #{record.module,jdbcType=NVARCHAR}, 
      #{record.moduleold,jdbcType=NVARCHAR}, #{record.engmodule,jdbcType=NVARCHAR}, #{record.plipmtno,jdbcType=NVARCHAR}, 
      #{record.prodlineno,jdbcType=NVARCHAR}, #{record.productno,jdbcType=NVARCHAR}, #{record.versionno,jdbcType=NVARCHAR}, 
      #{record.releaseno,jdbcType=NVARCHAR}, #{record.subsystemno,jdbcType=NVARCHAR}, #{record.readers,jdbcType=NVARCHAR}, 
      #{record.remark,jdbcType=NVARCHAR}, #{record.status,jdbcType=NVARCHAR}, #{record.createdUser,jdbcType=NVARCHAR}, 
      #{record.createdDate,jdbcType=TIMESTAMP}, #{record.modifyUser,jdbcType=NVARCHAR}, #{record.modifyData,jdbcType=TIMESTAMP}, 
      #{record.standby1,jdbcType=NVARCHAR}, #{record.standby2,jdbcType=NVARCHAR}, #{record.standby3,jdbcType=NVARCHAR}, 
      #{record.standby4,jdbcType=NVARCHAR}, #{record.standby5,jdbcType=NVARCHAR}, #{record.standby6,jdbcType=NVARCHAR}, 
      #{record.standby7,jdbcType=NVARCHAR}, #{record.standby8,jdbcType=NVARCHAR}, #{record.standby9,jdbcType=NVARCHAR}, 
      #{record.standby10,jdbcType=NVARCHAR})
    </foreach>
   
  </insert>
   
   <update id="updateByBatch" parameterType="java.util.List">
    <foreach collection="list" item="record" index="index" open="" close="" separator=";">
   
     update IBDS_MODULE
    set 
      MODULE = #{record.module,jdbcType=NVARCHAR},
      engMODULE = #{record.engmodule,jdbcType=NVARCHAR},
      MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      MODIFY_DATA = #{record.modifyData,jdbcType=TIMESTAMP} 
      where  id = #{record.id}  
  </foreach>
  </update>
  
  <update id="updateByStatusBatch" parameterType="map">
     update IBDS_MODULE
    set 
      Status =#{param.status,jdbcType=NVARCHAR}
    where MODULENo in 
     <foreach collection="param.codes.split('\r')" item="record" index="index" open="(" separator="," close=")">
     #{record,jdbcType=NVARCHAR}
     </foreach>
  </update>
  
  <select id="selectModulebyCodes" parameterType="map" resultMap="BaseResultMap">
  <!-- 添加操作日志时调用 -->
      <if test="param.codes!=null and param.codes!=''">
      	select 
		<include refid="Base_Column_List" />
		from IBDS_MODULE
		where MODULENo in 
		<foreach collection="param.codes.split(',')" item="record" index="index"
			open="(" separator="," close=")">
			#{record}
		</foreach>
      </if>
 </select>
</mapper>