<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.product.dao.IBDS_RDProductMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.product.entity.IBDS_RDProduct">
    <result column="PRODUCTNo" jdbcType="NVARCHAR" property="productno" />
    <result column="PRODUCT" jdbcType="NVARCHAR" property="product" />
    <result column="engPRODUCT" jdbcType="NVARCHAR" property="engproduct" />
    <result column="PRODUCTOld" jdbcType="NVARCHAR" property="productold" />
    <result column="Status" jdbcType="NVARCHAR" property="status" />
    <result column="PRODLINENo" jdbcType="NVARCHAR" property="prodlineno" />
    <result column="PDTNo" jdbcType="NVARCHAR" property="pdtno" />
    <result column="PRODUCTCOACode" jdbcType="NVARCHAR" property="productcoacode" />
    <result column="IfPlan" jdbcType="NVARCHAR" property="ifplan" />
    <result column="PRODUCTTypeNo" jdbcType="NVARCHAR" property="producttypeno" />
    <result column="IfOfficialNaming" jdbcType="NVARCHAR" property="ifofficialnaming" />
    <result column="Remark" jdbcType="NVARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCTNo, PRODUCT, engPRODUCT, PRODUCTOld, Status, PRODLINENo, PDTNo, PRODUCTCOACode, 
    IfPlan, PRODUCTTypeNo, IfOfficialNaming, Remark
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.product.entity.IBDS_RDProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_RDProduct
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.product.entity.IBDS_RDProductExample">
    delete from IBDS_RDProduct
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.product.entity.IBDS_RDProduct">
    insert into IBDS_RDProduct (PRODUCTNo, PRODUCT, engPRODUCT, 
      PRODUCTOld, Status, PRODLINENo, 
      PDTNo, PRODUCTCOACode, IfPlan, 
      PRODUCTTypeNo, IfOfficialNaming, Remark
      )
    values (#{productno,jdbcType=NVARCHAR}, #{product,jdbcType=NVARCHAR}, #{engproduct,jdbcType=NVARCHAR}, 
      #{productold,jdbcType=NVARCHAR}, #{status,jdbcType=NVARCHAR}, #{prodlineno,jdbcType=NVARCHAR}, 
      #{pdtno,jdbcType=NVARCHAR}, #{productcoacode,jdbcType=NVARCHAR}, #{ifplan,jdbcType=NVARCHAR}, 
      #{producttypeno,jdbcType=NVARCHAR}, #{ifofficialnaming,jdbcType=NVARCHAR}, #{remark,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.product.entity.IBDS_RDProduct">
    insert into IBDS_RDProduct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productno != null">
        PRODUCTNo,
      </if>
      <if test="product != null">
        PRODUCT,
      </if>
      <if test="engproduct != null">
        engPRODUCT,
      </if>
      <if test="productold != null">
        PRODUCTOld,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="prodlineno != null">
        PRODLINENo,
      </if>
      <if test="pdtno != null">
        PDTNo,
      </if>
      <if test="productcoacode != null">
        PRODUCTCOACode,
      </if>
      <if test="ifplan != null">
        IfPlan,
      </if>
      <if test="producttypeno != null">
        PRODUCTTypeNo,
      </if>
      <if test="ifofficialnaming != null">
        IfOfficialNaming,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productno != null">
        #{productno,jdbcType=NVARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=NVARCHAR},
      </if>
      <if test="engproduct != null">
        #{engproduct,jdbcType=NVARCHAR},
      </if>
      <if test="productold != null">
        #{productold,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineno != null">
        #{prodlineno,jdbcType=NVARCHAR},
      </if>
      <if test="pdtno != null">
        #{pdtno,jdbcType=NVARCHAR},
      </if>
      <if test="productcoacode != null">
        #{productcoacode,jdbcType=NVARCHAR},
      </if>
      <if test="ifplan != null">
        #{ifplan,jdbcType=NVARCHAR},
      </if>
      <if test="producttypeno != null">
        #{producttypeno,jdbcType=NVARCHAR},
      </if>
      <if test="ifofficialnaming != null">
        #{ifofficialnaming,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.product.entity.IBDS_RDProductExample" resultType="java.lang.Long">
    select count(*) from IBDS_RDProduct
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_RDProduct
    <set>
      <if test="record.productno != null">
        PRODUCTNo = #{record.productno,jdbcType=NVARCHAR},
      </if>
      <if test="record.product != null">
        PRODUCT = #{record.product,jdbcType=NVARCHAR},
      </if>
      <if test="record.engproduct != null">
        engPRODUCT = #{record.engproduct,jdbcType=NVARCHAR},
      </if>
      <if test="record.productold != null">
        PRODUCTOld = #{record.productold,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineno != null">
        PRODLINENo = #{record.prodlineno,jdbcType=NVARCHAR},
      </if>
      <if test="record.pdtno != null">
        PDTNo = #{record.pdtno,jdbcType=NVARCHAR},
      </if>
      <if test="record.productcoacode != null">
        PRODUCTCOACode = #{record.productcoacode,jdbcType=NVARCHAR},
      </if>
      <if test="record.ifplan != null">
        IfPlan = #{record.ifplan,jdbcType=NVARCHAR},
      </if>
      <if test="record.producttypeno != null">
        PRODUCTTypeNo = #{record.producttypeno,jdbcType=NVARCHAR},
      </if>
      <if test="record.ifofficialnaming != null">
        IfOfficialNaming = #{record.ifofficialnaming,jdbcType=NVARCHAR},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_RDProduct
    set PRODUCTNo = #{record.productno,jdbcType=NVARCHAR},
      PRODUCT = #{record.product,jdbcType=NVARCHAR},
      engPRODUCT = #{record.engproduct,jdbcType=NVARCHAR},
      PRODUCTOld = #{record.productold,jdbcType=NVARCHAR},
      Status = #{record.status,jdbcType=NVARCHAR},
      PRODLINENo = #{record.prodlineno,jdbcType=NVARCHAR},
      PDTNo = #{record.pdtno,jdbcType=NVARCHAR},
      PRODUCTCOACode = #{record.productcoacode,jdbcType=NVARCHAR},
      IfPlan = #{record.ifplan,jdbcType=NVARCHAR},
      PRODUCTTypeNo = #{record.producttypeno,jdbcType=NVARCHAR},
      IfOfficialNaming = #{record.ifofficialnaming,jdbcType=NVARCHAR},
      Remark = #{record.remark,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>