<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.product.dao.ModuleViewMapper">
  <select id="getDataList" parameterType="java.util.Map" resultMap="BaseResultMap">

    <!-- IPMT层 -->
    <if test="param.id == null and param.codes==null">
      select distinct PRODLINENo as PRODLINENo ,PRODLINE,PL_ORDER from V_MODULE_VIEW where status='1'
    </if>


    <if test="param.id != null">

      <!-- PDT层 -->
      <if test="param.type =='PL'">

        select distinct PRODUCTNo+'_'+PRODLINENo as PRODLINENo,PRODLINE ,PRODUCT from V_MODULE_VIEW
        where PRODLINENo=#{param.id} and status='1'

      </if>
      <if test="param.type =='PP'">

        select distinct RELEASENo+'_'+PRODUCTNo+'_'+PRODLINENo as PRODLINENo,PRODLINE ,PRODUCT ,RELEASE from V_MODULE_VIEW
        where PRODUCTNo=#{param.id} and status='1'

      </if>
      <if test="param.type =='PR'">

        select distinct SUBSYSTEMNo+'_'+RELEASENo+'_'+PRODUCTNo+'_'+PRODLINENo as PRODLINENo ,PRODLINE ,PRODUCT ,RELEASE,SUBSYSTEM,SUBSYSTEMNo from V_MODULE_VIEW
        where RELEASENo=#{param.id} and status='1'

      </if>
      <if test="param.type =='SS'">

        select distinct MODULENo+'_'+SUBSYSTEMNo+'_'+RELEASENo+'_'+PRODUCTNo+'_'+Convert(varchar,ID)+'_'+PRODLINENo as PRODLINENo,PRODLINE ,PRODUCT ,RELEASE,SUBSYSTEM ,MODULE,MODULENo,MODULEOld,engMODULE,ID from V_MODULE_VIEW
        where  status='1'
        <if test="param.id!=null and param.id!=''">
        and SUBSYSTEMNo=#{param.id}
        </if>
		
      </if>
      
      <if test="param.PRODLINENo!=null and param.PRODLINENo!='' and param.type !='MD'">
      	 and PRODLINENo=#{param.PRODLINENo}
      </if>
      <if test="param.PRODUCTNo!=null and param.PRODUCTNo!='' and param.type !='MD'">
      	 and PRODUCTNo=#{param.PRODUCTNo}
      </if>
      <if test="param.RELEASENo!=null and param.RELEASENo!='' and param.type !='MD'">
      	 and RELEASENo=#{param.RELEASENo}
      </if>
      

    </if>

    <if test="param.codes!=null">
		 select distinct MODULENo+'_'+SUBSYSTEMNo+'_'+RELEASENo+'_'+PRODUCTNo+'_'+Convert(varchar,ID)+'_'+PRODLINENo as PRODLINENo ,MODULE,MODULENo,MODULEOld,engMODULE,SUBSYSTEMNo,ID from V_MODULE_VIEW
        where  status='1' and SUBSYSTEMNo in
		 <foreach collection="param.codes.split(';')" item="item" index="index" open="(" separator="," close=")">
              #{item}
              </foreach>
		</if>
    
    
    <if test="param.searchParas != null and param.searchParas != ''">
      and CHARINDEX(#{param.searchParas},isnull(PRODLINENo,'')+isnull(PRODLINE,'')+isnull(PRODUCTNo,'')+isnull(Product,'')+isnull(RELEASENo,'')+isnull(release,'')+isnull(SUBSYSTEMNo,'')+isnull(SUBSYSTEM,'')+isnull(MODULE,'')+isnull(MODULENo,'')+isnull(MODULEOld,'')+isnull(engMODULE,''))&gt;0
    </if>
    
       <!-- 产品线层-->
    <if test="param.id == null and param.codes==null">
    order by PL_ORDER,PRODLINE
    </if>
     <if test="param.id != null">
      <!-- 产品层 -->
      <if test="param.type =='PL'">
      order by Product
      </if>
      <!--R版本层 -->
	  <if test="param.type =='PP'">
	  order by release
	  </if>
	  	<!--子系统层 -->
	  <if test="param.type =='PR'">
	  order by SUBSYSTEM
	  </if>
	  <if test="param.type =='SS'">
	  order by MODULE
	  </if>
      </if>
    
  </select>

  <select id="selectByCode" parameterType="string" resultMap="BaseResultMap">

    select <include refid="Base_Column_List"/> from V_MODULE_VIEW where MODULENo=#{code}
  </select>
  
  <select id="selectByID" parameterType="Integer" resultMap="BaseResultMap">

    select <include refid="Base_Column_List"/> from V_MODULE_VIEW where ID=#{code}
  </select>
  
  <select id="getExportList" parameterType="java.util.Map" resultMap="BaseResultMap">
	 select  <include refid="Base_Column_List" /> from V_MODULE_VIEW where status='1'
    
    <if test="param.searchParas != null and param.searchParas != ''">
      and CHARINDEX(#{param.searchParas},isnull(PRODLINENo,'')+isnull(PRODLINE,'')+isnull(PRODUCTNo,'')+isnull(Product,'')+isnull(RELEASENo,'')+isnull(release,'')+isnull(SUBSYSTEMNo,'')+isnull(SUBSYSTEM,'')+isnull(MODULE,'')+isnull(MODULENo,'')+isnull(MODULEOld,'')+isnull(engMODULE,''))&gt;0
    </if>
    
        order by PL_ORDER,PRODLINE
    
  </select>
</mapper>