<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.basicinfo.dao.IBDS_BaseLine_ApplyMapper">
   <select id="getIdsByProcessCode" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT ID FROM IBDS_BaseLine_Apply WHERE PROCESS_CODE = #{processCode}
  </select>
  
  <select id="getByProcessCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT <include refid="Base_Column_List" /> FROM IBDS_BaseLine_Apply WHERE PROCESS_CODE = #{applyCode}
  </select>
  
  <select id="getZTByProductCode" resultMap="BaseResultMap" parameterType="map">
    SELECT a.* FROM IBDS_BaseLine_Apply a JOIN IBDS_BaseObject_PROCESS b  ON a.PROCESS_CODE = b.ApplyCode where b.status='1' 
    
    <if test="param.productCode!=null">
    and a.BASELINENo=#{param.productCode}
    </if>
    <if test="param.product!=null">
    and a.BASELINE=#{param.product}
    </if>
    
    
  </select>

  <select id="getZTCountByProductCode" resultType="java.lang.Integer" parameterType="map">
    SELECT count(1) FROM IBDS_BaseLine_Apply a JOIN IBDS_BaseObject_PROCESS b  ON a.PROCESS_CODE = b.ApplyCode where b.status='1' 
  <if test='param.productCode!=null and !param.productCode.contains("\r\n")'>
  
    and a.BASELINENo=#{param.productCode}
    </if>
    <if test='param.productCode!=null and param.productCode.contains("\r\n")'>
  
    and a.BASELINENo in 
    <foreach collection="param.productCode.split('\r\n')" item="record" index="index" open="(" separator="," close=")">
    #{record,jdbcType=NVARCHAR}
	</foreach>
    </if>
    <if test="param.product!=null">
    and a.BASELINE=#{param.product}
    </if>
    <if test="param.parentCode!=null and param.parentCode!=''">
     and CHARINDEX(ISNULL(PLIPMTNo,'')+'_'+ISNULL(PRODLINENo,'')+'_'+ISNULL(PRODUCTNo,'')+'_'+ISNULL(VERSIONNo,'')+'_'+ISNULL(RELEASENo,''),#{param.parentCode})>0
    </if>
    <if test="param.names!=null and param.names!=''">
		and a.BASELINE in
	<foreach collection="param.names.split(',')" item="record" index="index" open="(" separator="," close=")">
		#{record,jdbcType=NVARCHAR}
	</foreach>
		</if>
  </select>
  <!-- 停用产品库 -->
  <update id="updateBaseinfo" parameterType="map" >
  <if test="param.tabName!=null and param.code!=null">
  update ${param.tabName} set status='0'
  <if test="param.modifyUser!=null">
  ,Modify_User=#{param.ModifyUser}
  </if>
  

  <if test="param.tabName=='IBDS_Bversion' or param.tabName=='IBDS_FEATRUE' or param.tabName=='IBDS_Base_Line' or param.tabName=='IBDS_SUB_FEATRUE' or param.tabName=='IBDS_Team' or param.tabName=='IBDS_SUB_SYSTEM'  or param.tabName=='IBDS_Module' or param.tabName=='IBDS_MODULE_VERSION'"> 
  <if test="param.modifyTime!=null">
  ,Modify_Data=#{param.modifyTime}
  </if>
  </if>
  <if test="param.tabName=='IBDS_Version'">
  <if test="param.modifyTime!=null">
  ,Modify_Date=#{param.modifyTime}
  </if>
  </if>

   where productno=#{param.code}
  </if>
  <!--  <if test="param.type!=null and param.type=='PV' and param.code!=null">
  update IBDS_VERSION set status='0' where productno=#{param.code}
  </if>
   <if test="param.type!=null and param.type=='PR' and param.code!=null">
  update IBDS_Release set status='0' where productno=#{param.code}
  </if>
   <if test="param.type!=null and param.type=='PB' and param.code!=null">
  update IBDS_Bversion set status='0' where productno=#{param.code}
  </if>
   <if test="param.type!=null and param.type=='FT' and param.code!=null">
  update IBDS_Feature set status='0' where productno=#{param.code}
  </if>
  <if test="param.type!=null and param.type=='BL' and param.code!=null">
  update IBDS_BASE_LINE set status='0' where productno=#{param.code}
  </if>
   <if test="param.type!=null and param.type=='SF' and param.code!=null">
  update IBDS_SubFeature set status='0' where productno=#{param.code}
  </if>
   <if test="param.type!=null and param.type=='TM' and param.code!=null">
  update IBDS_Team set status='0' where productno=#{param.code}
  </if>
   <if test="param.type!=null and param.type=='SS' and param.code!=null">
  update IBDS_SubSystem set status='0' where productno=#{param.code}
  </if>
   <if test="param.type!=null and param.type=='MD' and param.code!=null">
  update IBDS_Module set status='0' where productno=#{param.code}
  </if>
  <if test="param.type!=null and param.type=='MV' and param.code!=null">
  update IBDS_ModuleVersion set status='0' where productno=#{param.code}
  </if> -->
  </update>
  
  <select id="updateProjectStatusAddOptionLog" resultType="map" statementType="CALLABLE">
		{call p_UpdateOptionLog(#{param.code},#{param.users})}
	</select>
</mapper>