<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.basicinfo.dao.view_DifficultyCoefficientMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.basicinfo.entity.view_DifficultyCoefficient">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="Process_Code" jdbcType="NVARCHAR" property="processCode" />
    <result column="PLIPMTNo" jdbcType="NVARCHAR" property="plipmtno" />
    <result column="ProdLineNo" jdbcType="NVARCHAR" property="prodlineno" />
    <result column="ProductNo" jdbcType="NVARCHAR" property="productno" />
    <result column="VersionNo" jdbcType="NVARCHAR" property="versionno" />
    <result column="ReleaseNo" jdbcType="NVARCHAR" property="releaseno" />
    <result column="IPMTSecretary" jdbcType="NVARCHAR" property="ipmtsecretary" />
    <result column="BversionNo" jdbcType="NVARCHAR" property="bversionno" />
    <result column="Bversion" jdbcType="NVARCHAR" property="bversion" />
    <result column="isPack" jdbcType="CHAR" property="ispack" />
    <result column="ProSnRemark" jdbcType="NVARCHAR" property="prosnremark" />
    <result column="HardSnRemark" jdbcType="NVARCHAR" property="hardsnremark" />
    <result column="Prod_BasisMaterial" jdbcType="NVARCHAR" property="prodBasismaterial" />
    <result column="Prod_BasisMaterialId" jdbcType="NVARCHAR" property="prodBasismaterialid" />
    <result column="Hard_BasisMaterial" jdbcType="NVARCHAR" property="hardBasismaterial" />
    <result column="Hard_BasisMaterialId" jdbcType="NVARCHAR" property="hardBasismaterialid" />
    <result column="copyto" jdbcType="NVARCHAR" property="copyto" />
    <result column="Remark" jdbcType="NVARCHAR" property="remark" />
    <result column="Creator" jdbcType="NVARCHAR" property="creator" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="Modifier" jdbcType="NVARCHAR" property="modifier" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="ProcessID" jdbcType="INTEGER" property="processid" />
    <result column="APPLY_CODE" jdbcType="NVARCHAR" property="applyCode" />
    <result column="Status" jdbcType="NVARCHAR" property="status" />
    <result column="Handler" jdbcType="NVARCHAR" property="handler" />
    <result column="Instanse_ID" jdbcType="NVARCHAR" property="instanseId" />
    <result column="CurrentNode" jdbcType="NVARCHAR" property="currentnode" />
    <result column="STATUS_DESC" jdbcType="NVARCHAR" property="statusDesc" />
    <result column="First_Sign" jdbcType="NVARCHAR" property="firstSign" />
    <result column="First_Date" jdbcType="TIMESTAMP" property="firstDate" />
    <result column="MGN_Sign" jdbcType="NVARCHAR" property="mgnSign" />
    <result column="MGN_Date" jdbcType="TIMESTAMP" property="mgnDate" />
    <result column="MGN_Opinion" jdbcType="NVARCHAR" property="mgnOpinion" />
    <result column="MGN_Result" jdbcType="NVARCHAR" property="mgnResult" />
    <result column="Quality_Sign" jdbcType="NVARCHAR" property="qualitySign" />
    <result column="Quality_Date" jdbcType="TIMESTAMP" property="qualityDate" />
    <result column="Quality_Opinion" jdbcType="NVARCHAR" property="qualityOpinion" />
    <result column="Quality_Result" jdbcType="NVARCHAR" property="qualityResult" />
    <result column="IPMT_Sign" jdbcType="NVARCHAR" property="ipmtSign" />
    <result column="IPMT_Date" jdbcType="TIMESTAMP" property="ipmtDate" />
    <result column="IPMT_Opinion" jdbcType="NVARCHAR" property="ipmtOpinion" />
    <result column="IPMT_Result" jdbcType="NVARCHAR" property="ipmtResult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, Process_Code, PLIPMTNo, ProdLineNo, ProductNo, VersionNo, ReleaseNo, IPMTSecretary, 
    BversionNo, Bversion, isPack, ProSnRemark, HardSnRemark, Prod_BasisMaterial, Prod_BasisMaterialId, 
    Hard_BasisMaterial, Hard_BasisMaterialId, copyto, Remark, Creator, CreateTime, Modifier, 
    ModifyTime, ProcessID, APPLY_CODE, Status, Handler, Instanse_ID, CurrentNode, STATUS_DESC, 
    First_Sign, First_Date, MGN_Sign, MGN_Date, MGN_Opinion, MGN_Result, Quality_Sign, 
    Quality_Date, Quality_Opinion, Quality_Result, IPMT_Sign, IPMT_Date, IPMT_Opinion, 
    IPMT_Result
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.basicinfo.entity.view_DifficultyCoefficientExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from view_DifficultyCoefficient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.basicinfo.entity.view_DifficultyCoefficientExample">
    delete from view_DifficultyCoefficient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.basicinfo.entity.view_DifficultyCoefficient">
    insert into view_DifficultyCoefficient (ID, Process_Code, PLIPMTNo, 
      ProdLineNo, ProductNo, VersionNo, 
      ReleaseNo, IPMTSecretary, BversionNo, 
      Bversion, isPack, ProSnRemark, 
      HardSnRemark, Prod_BasisMaterial, Prod_BasisMaterialId, 
      Hard_BasisMaterial, Hard_BasisMaterialId, 
      copyto, Remark, Creator, 
      CreateTime, Modifier, ModifyTime, 
      ProcessID, APPLY_CODE, Status, 
      Handler, Instanse_ID, CurrentNode, 
      STATUS_DESC, First_Sign, First_Date, 
      MGN_Sign, MGN_Date, MGN_Opinion, 
      MGN_Result, Quality_Sign, Quality_Date, 
      Quality_Opinion, Quality_Result, IPMT_Sign, 
      IPMT_Date, IPMT_Opinion, IPMT_Result
      )
    values (#{id,jdbcType=INTEGER}, #{processCode,jdbcType=NVARCHAR}, #{plipmtno,jdbcType=NVARCHAR}, 
      #{prodlineno,jdbcType=NVARCHAR}, #{productno,jdbcType=NVARCHAR}, #{versionno,jdbcType=NVARCHAR}, 
      #{releaseno,jdbcType=NVARCHAR}, #{ipmtsecretary,jdbcType=NVARCHAR}, #{bversionno,jdbcType=NVARCHAR}, 
      #{bversion,jdbcType=NVARCHAR}, #{ispack,jdbcType=CHAR}, #{prosnremark,jdbcType=NVARCHAR}, 
      #{hardsnremark,jdbcType=NVARCHAR}, #{prodBasismaterial,jdbcType=NVARCHAR}, #{prodBasismaterialid,jdbcType=NVARCHAR}, 
      #{hardBasismaterial,jdbcType=NVARCHAR}, #{hardBasismaterialid,jdbcType=NVARCHAR}, 
      #{copyto,jdbcType=NVARCHAR}, #{remark,jdbcType=NVARCHAR}, #{creator,jdbcType=NVARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=NVARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{processid,jdbcType=INTEGER}, #{applyCode,jdbcType=NVARCHAR}, #{status,jdbcType=NVARCHAR}, 
      #{handler,jdbcType=NVARCHAR}, #{instanseId,jdbcType=NVARCHAR}, #{currentnode,jdbcType=NVARCHAR}, 
      #{statusDesc,jdbcType=NVARCHAR}, #{firstSign,jdbcType=NVARCHAR}, #{firstDate,jdbcType=TIMESTAMP}, 
      #{mgnSign,jdbcType=NVARCHAR}, #{mgnDate,jdbcType=TIMESTAMP}, #{mgnOpinion,jdbcType=NVARCHAR}, 
      #{mgnResult,jdbcType=NVARCHAR}, #{qualitySign,jdbcType=NVARCHAR}, #{qualityDate,jdbcType=TIMESTAMP}, 
      #{qualityOpinion,jdbcType=NVARCHAR}, #{qualityResult,jdbcType=NVARCHAR}, #{ipmtSign,jdbcType=NVARCHAR}, 
      #{ipmtDate,jdbcType=TIMESTAMP}, #{ipmtOpinion,jdbcType=NVARCHAR}, #{ipmtResult,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.basicinfo.entity.view_DifficultyCoefficient">
    insert into view_DifficultyCoefficient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="processCode != null">
        Process_Code,
      </if>
      <if test="plipmtno != null">
        PLIPMTNo,
      </if>
      <if test="prodlineno != null">
        ProdLineNo,
      </if>
      <if test="productno != null">
        ProductNo,
      </if>
      <if test="versionno != null">
        VersionNo,
      </if>
      <if test="releaseno != null">
        ReleaseNo,
      </if>
      <if test="ipmtsecretary != null">
        IPMTSecretary,
      </if>
      <if test="bversionno != null">
        BversionNo,
      </if>
      <if test="bversion != null">
        Bversion,
      </if>
      <if test="ispack != null">
        isPack,
      </if>
      <if test="prosnremark != null">
        ProSnRemark,
      </if>
      <if test="hardsnremark != null">
        HardSnRemark,
      </if>
      <if test="prodBasismaterial != null">
        Prod_BasisMaterial,
      </if>
      <if test="prodBasismaterialid != null">
        Prod_BasisMaterialId,
      </if>
      <if test="hardBasismaterial != null">
        Hard_BasisMaterial,
      </if>
      <if test="hardBasismaterialid != null">
        Hard_BasisMaterialId,
      </if>
      <if test="copyto != null">
        copyto,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="creator != null">
        Creator,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="modifier != null">
        Modifier,
      </if>
      <if test="modifytime != null">
        ModifyTime,
      </if>
      <if test="processid != null">
        ProcessID,
      </if>
      <if test="applyCode != null">
        APPLY_CODE,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="handler != null">
        Handler,
      </if>
      <if test="instanseId != null">
        Instanse_ID,
      </if>
      <if test="currentnode != null">
        CurrentNode,
      </if>
      <if test="statusDesc != null">
        STATUS_DESC,
      </if>
      <if test="firstSign != null">
        First_Sign,
      </if>
      <if test="firstDate != null">
        First_Date,
      </if>
      <if test="mgnSign != null">
        MGN_Sign,
      </if>
      <if test="mgnDate != null">
        MGN_Date,
      </if>
      <if test="mgnOpinion != null">
        MGN_Opinion,
      </if>
      <if test="mgnResult != null">
        MGN_Result,
      </if>
      <if test="qualitySign != null">
        Quality_Sign,
      </if>
      <if test="qualityDate != null">
        Quality_Date,
      </if>
      <if test="qualityOpinion != null">
        Quality_Opinion,
      </if>
      <if test="qualityResult != null">
        Quality_Result,
      </if>
      <if test="ipmtSign != null">
        IPMT_Sign,
      </if>
      <if test="ipmtDate != null">
        IPMT_Date,
      </if>
      <if test="ipmtOpinion != null">
        IPMT_Opinion,
      </if>
      <if test="ipmtResult != null">
        IPMT_Result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processCode != null">
        #{processCode,jdbcType=NVARCHAR},
      </if>
      <if test="plipmtno != null">
        #{plipmtno,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineno != null">
        #{prodlineno,jdbcType=NVARCHAR},
      </if>
      <if test="productno != null">
        #{productno,jdbcType=NVARCHAR},
      </if>
      <if test="versionno != null">
        #{versionno,jdbcType=NVARCHAR},
      </if>
      <if test="releaseno != null">
        #{releaseno,jdbcType=NVARCHAR},
      </if>
      <if test="ipmtsecretary != null">
        #{ipmtsecretary,jdbcType=NVARCHAR},
      </if>
      <if test="bversionno != null">
        #{bversionno,jdbcType=NVARCHAR},
      </if>
      <if test="bversion != null">
        #{bversion,jdbcType=NVARCHAR},
      </if>
      <if test="ispack != null">
        #{ispack,jdbcType=CHAR},
      </if>
      <if test="prosnremark != null">
        #{prosnremark,jdbcType=NVARCHAR},
      </if>
      <if test="hardsnremark != null">
        #{hardsnremark,jdbcType=NVARCHAR},
      </if>
      <if test="prodBasismaterial != null">
        #{prodBasismaterial,jdbcType=NVARCHAR},
      </if>
      <if test="prodBasismaterialid != null">
        #{prodBasismaterialid,jdbcType=NVARCHAR},
      </if>
      <if test="hardBasismaterial != null">
        #{hardBasismaterial,jdbcType=NVARCHAR},
      </if>
      <if test="hardBasismaterialid != null">
        #{hardBasismaterialid,jdbcType=NVARCHAR},
      </if>
      <if test="copyto != null">
        #{copyto,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="processid != null">
        #{processid,jdbcType=INTEGER},
      </if>
      <if test="applyCode != null">
        #{applyCode,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=NVARCHAR},
      </if>
      <if test="instanseId != null">
        #{instanseId,jdbcType=NVARCHAR},
      </if>
      <if test="currentnode != null">
        #{currentnode,jdbcType=NVARCHAR},
      </if>
      <if test="statusDesc != null">
        #{statusDesc,jdbcType=NVARCHAR},
      </if>
      <if test="firstSign != null">
        #{firstSign,jdbcType=NVARCHAR},
      </if>
      <if test="firstDate != null">
        #{firstDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgnSign != null">
        #{mgnSign,jdbcType=NVARCHAR},
      </if>
      <if test="mgnDate != null">
        #{mgnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgnOpinion != null">
        #{mgnOpinion,jdbcType=NVARCHAR},
      </if>
      <if test="mgnResult != null">
        #{mgnResult,jdbcType=NVARCHAR},
      </if>
      <if test="qualitySign != null">
        #{qualitySign,jdbcType=NVARCHAR},
      </if>
      <if test="qualityDate != null">
        #{qualityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityOpinion != null">
        #{qualityOpinion,jdbcType=NVARCHAR},
      </if>
      <if test="qualityResult != null">
        #{qualityResult,jdbcType=NVARCHAR},
      </if>
      <if test="ipmtSign != null">
        #{ipmtSign,jdbcType=NVARCHAR},
      </if>
      <if test="ipmtDate != null">
        #{ipmtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ipmtOpinion != null">
        #{ipmtOpinion,jdbcType=NVARCHAR},
      </if>
      <if test="ipmtResult != null">
        #{ipmtResult,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.basicinfo.entity.view_DifficultyCoefficientExample" resultType="java.lang.Long">
    select count(*) from view_DifficultyCoefficient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update view_DifficultyCoefficient
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.processCode != null">
        Process_Code = #{record.processCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.plipmtno != null">
        PLIPMTNo = #{record.plipmtno,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineno != null">
        ProdLineNo = #{record.prodlineno,jdbcType=NVARCHAR},
      </if>
      <if test="record.productno != null">
        ProductNo = #{record.productno,jdbcType=NVARCHAR},
      </if>
      <if test="record.versionno != null">
        VersionNo = #{record.versionno,jdbcType=NVARCHAR},
      </if>
      <if test="record.releaseno != null">
        ReleaseNo = #{record.releaseno,jdbcType=NVARCHAR},
      </if>
      <if test="record.ipmtsecretary != null">
        IPMTSecretary = #{record.ipmtsecretary,jdbcType=NVARCHAR},
      </if>
      <if test="record.bversionno != null">
        BversionNo = #{record.bversionno,jdbcType=NVARCHAR},
      </if>
      <if test="record.bversion != null">
        Bversion = #{record.bversion,jdbcType=NVARCHAR},
      </if>
      <if test="record.ispack != null">
        isPack = #{record.ispack,jdbcType=CHAR},
      </if>
      <if test="record.prosnremark != null">
        ProSnRemark = #{record.prosnremark,jdbcType=NVARCHAR},
      </if>
      <if test="record.hardsnremark != null">
        HardSnRemark = #{record.hardsnremark,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodBasismaterial != null">
        Prod_BasisMaterial = #{record.prodBasismaterial,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodBasismaterialid != null">
        Prod_BasisMaterialId = #{record.prodBasismaterialid,jdbcType=NVARCHAR},
      </if>
      <if test="record.hardBasismaterial != null">
        Hard_BasisMaterial = #{record.hardBasismaterial,jdbcType=NVARCHAR},
      </if>
      <if test="record.hardBasismaterialid != null">
        Hard_BasisMaterialId = #{record.hardBasismaterialid,jdbcType=NVARCHAR},
      </if>
      <if test="record.copyto != null">
        copyto = #{record.copyto,jdbcType=NVARCHAR},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.creator != null">
        Creator = #{record.creator,jdbcType=NVARCHAR},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        Modifier = #{record.modifier,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifytime != null">
        ModifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processid != null">
        ProcessID = #{record.processid,jdbcType=INTEGER},
      </if>
      <if test="record.applyCode != null">
        APPLY_CODE = #{record.applyCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.handler != null">
        Handler = #{record.handler,jdbcType=NVARCHAR},
      </if>
      <if test="record.instanseId != null">
        Instanse_ID = #{record.instanseId,jdbcType=NVARCHAR},
      </if>
      <if test="record.currentnode != null">
        CurrentNode = #{record.currentnode,jdbcType=NVARCHAR},
      </if>
      <if test="record.statusDesc != null">
        STATUS_DESC = #{record.statusDesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.firstSign != null">
        First_Sign = #{record.firstSign,jdbcType=NVARCHAR},
      </if>
      <if test="record.firstDate != null">
        First_Date = #{record.firstDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mgnSign != null">
        MGN_Sign = #{record.mgnSign,jdbcType=NVARCHAR},
      </if>
      <if test="record.mgnDate != null">
        MGN_Date = #{record.mgnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mgnOpinion != null">
        MGN_Opinion = #{record.mgnOpinion,jdbcType=NVARCHAR},
      </if>
      <if test="record.mgnResult != null">
        MGN_Result = #{record.mgnResult,jdbcType=NVARCHAR},
      </if>
      <if test="record.qualitySign != null">
        Quality_Sign = #{record.qualitySign,jdbcType=NVARCHAR},
      </if>
      <if test="record.qualityDate != null">
        Quality_Date = #{record.qualityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qualityOpinion != null">
        Quality_Opinion = #{record.qualityOpinion,jdbcType=NVARCHAR},
      </if>
      <if test="record.qualityResult != null">
        Quality_Result = #{record.qualityResult,jdbcType=NVARCHAR},
      </if>
      <if test="record.ipmtSign != null">
        IPMT_Sign = #{record.ipmtSign,jdbcType=NVARCHAR},
      </if>
      <if test="record.ipmtDate != null">
        IPMT_Date = #{record.ipmtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ipmtOpinion != null">
        IPMT_Opinion = #{record.ipmtOpinion,jdbcType=NVARCHAR},
      </if>
      <if test="record.ipmtResult != null">
        IPMT_Result = #{record.ipmtResult,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update view_DifficultyCoefficient
    set ID = #{record.id,jdbcType=INTEGER},
      Process_Code = #{record.processCode,jdbcType=NVARCHAR},
      PLIPMTNo = #{record.plipmtno,jdbcType=NVARCHAR},
      ProdLineNo = #{record.prodlineno,jdbcType=NVARCHAR},
      ProductNo = #{record.productno,jdbcType=NVARCHAR},
      VersionNo = #{record.versionno,jdbcType=NVARCHAR},
      ReleaseNo = #{record.releaseno,jdbcType=NVARCHAR},
      IPMTSecretary = #{record.ipmtsecretary,jdbcType=NVARCHAR},
      BversionNo = #{record.bversionno,jdbcType=NVARCHAR},
      Bversion = #{record.bversion,jdbcType=NVARCHAR},
      isPack = #{record.ispack,jdbcType=CHAR},
      ProSnRemark = #{record.prosnremark,jdbcType=NVARCHAR},
      HardSnRemark = #{record.hardsnremark,jdbcType=NVARCHAR},
      Prod_BasisMaterial = #{record.prodBasismaterial,jdbcType=NVARCHAR},
      Prod_BasisMaterialId = #{record.prodBasismaterialid,jdbcType=NVARCHAR},
      Hard_BasisMaterial = #{record.hardBasismaterial,jdbcType=NVARCHAR},
      Hard_BasisMaterialId = #{record.hardBasismaterialid,jdbcType=NVARCHAR},
      copyto = #{record.copyto,jdbcType=NVARCHAR},
      Remark = #{record.remark,jdbcType=NVARCHAR},
      Creator = #{record.creator,jdbcType=NVARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      Modifier = #{record.modifier,jdbcType=NVARCHAR},
      ModifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      ProcessID = #{record.processid,jdbcType=INTEGER},
      APPLY_CODE = #{record.applyCode,jdbcType=NVARCHAR},
      Status = #{record.status,jdbcType=NVARCHAR},
      Handler = #{record.handler,jdbcType=NVARCHAR},
      Instanse_ID = #{record.instanseId,jdbcType=NVARCHAR},
      CurrentNode = #{record.currentnode,jdbcType=NVARCHAR},
      STATUS_DESC = #{record.statusDesc,jdbcType=NVARCHAR},
      First_Sign = #{record.firstSign,jdbcType=NVARCHAR},
      First_Date = #{record.firstDate,jdbcType=TIMESTAMP},
      MGN_Sign = #{record.mgnSign,jdbcType=NVARCHAR},
      MGN_Date = #{record.mgnDate,jdbcType=TIMESTAMP},
      MGN_Opinion = #{record.mgnOpinion,jdbcType=NVARCHAR},
      MGN_Result = #{record.mgnResult,jdbcType=NVARCHAR},
      Quality_Sign = #{record.qualitySign,jdbcType=NVARCHAR},
      Quality_Date = #{record.qualityDate,jdbcType=TIMESTAMP},
      Quality_Opinion = #{record.qualityOpinion,jdbcType=NVARCHAR},
      Quality_Result = #{record.qualityResult,jdbcType=NVARCHAR},
      IPMT_Sign = #{record.ipmtSign,jdbcType=NVARCHAR},
      IPMT_Date = #{record.ipmtDate,jdbcType=TIMESTAMP},
      IPMT_Opinion = #{record.ipmtOpinion,jdbcType=NVARCHAR},
      IPMT_Result = #{record.ipmtResult,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>