<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.basicinfo.dao.view_ProductApplyListMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.basicinfo.entity.view_ProductApplyList">
    <result column="ApplypId" jdbcType="INTEGER" property="applypid" />
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="NVARCHAR" property="code" />
    <result column="PRODLINENo" jdbcType="NVARCHAR" property="prodlineno" />
    <result column="PRODLINE" jdbcType="NVARCHAR" property="prodline" />
    <result column="AppyType" jdbcType="NVARCHAR" property="appytype" />
    <result column="PRODUCTNo" jdbcType="NVARCHAR" property="productno" />
    <result column="PRODUCT" jdbcType="NVARCHAR" property="product" />
    <result column="banben" jdbcType="NVARCHAR" property="banben" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="NVARCHAR" property="createUser" />
    <result column="Responsible" jdbcType="NVARCHAR" property="responsible" />
    <result column="Status" jdbcType="NVARCHAR" property="status" />
    <result column="StatusName" jdbcType="NVARCHAR" property="statusname" />
    <result column="softsn" jdbcType="NVARCHAR" property="softsn" />
    <result column="hardsn" jdbcType="NVARCHAR" property="hardsn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ApplypId, ID, code, PRODLINENo, PRODLINE, AppyType, PRODUCTNo, PRODUCT, banben, CREATE_DATE, 
    CREATE_USER, Responsible, Status, StatusName, softsn, hardsn
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.basicinfo.entity.view_ProductApplyListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from view_ProductApplyList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.basicinfo.entity.view_ProductApplyListExample">
    delete from view_ProductApplyList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.basicinfo.entity.view_ProductApplyList">
    insert into view_ProductApplyList (ApplypId, ID, code, 
      PRODLINENo, PRODLINE, AppyType, 
      PRODUCTNo, PRODUCT, banben, 
      CREATE_DATE, CREATE_USER, Responsible, 
      Status, StatusName, softsn, 
      hardsn)
    values (#{applypid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{code,jdbcType=NVARCHAR}, 
      #{prodlineno,jdbcType=NVARCHAR}, #{prodline,jdbcType=NVARCHAR}, #{appytype,jdbcType=NVARCHAR}, 
      #{productno,jdbcType=NVARCHAR}, #{product,jdbcType=NVARCHAR}, #{banben,jdbcType=NVARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=NVARCHAR}, #{responsible,jdbcType=NVARCHAR}, 
      #{status,jdbcType=NVARCHAR}, #{statusname,jdbcType=NVARCHAR}, #{softsn,jdbcType=NVARCHAR}, 
      #{hardsn,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.basicinfo.entity.view_ProductApplyList">
    insert into view_ProductApplyList
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applypid != null">
        ApplypId,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="prodlineno != null">
        PRODLINENo,
      </if>
      <if test="prodline != null">
        PRODLINE,
      </if>
      <if test="appytype != null">
        AppyType,
      </if>
      <if test="productno != null">
        PRODUCTNo,
      </if>
      <if test="product != null">
        PRODUCT,
      </if>
      <if test="banben != null">
        banben,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="responsible != null">
        Responsible,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="statusname != null">
        StatusName,
      </if>
      <if test="softsn != null">
        softsn,
      </if>
      <if test="hardsn != null">
        hardsn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applypid != null">
        #{applypid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineno != null">
        #{prodlineno,jdbcType=NVARCHAR},
      </if>
      <if test="prodline != null">
        #{prodline,jdbcType=NVARCHAR},
      </if>
      <if test="appytype != null">
        #{appytype,jdbcType=NVARCHAR},
      </if>
      <if test="productno != null">
        #{productno,jdbcType=NVARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=NVARCHAR},
      </if>
      <if test="banben != null">
        #{banben,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="responsible != null">
        #{responsible,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="statusname != null">
        #{statusname,jdbcType=NVARCHAR},
      </if>
      <if test="softsn != null">
        #{softsn,jdbcType=NVARCHAR},
      </if>
      <if test="hardsn != null">
        #{hardsn,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.basicinfo.entity.view_ProductApplyListExample" resultType="java.lang.Long">
    select count(*) from view_ProductApplyList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update view_ProductApplyList
    <set>
      <if test="record.applypid != null">
        ApplypId = #{record.applypid,jdbcType=INTEGER},
      </if>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineno != null">
        PRODLINENo = #{record.prodlineno,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodline != null">
        PRODLINE = #{record.prodline,jdbcType=NVARCHAR},
      </if>
      <if test="record.appytype != null">
        AppyType = #{record.appytype,jdbcType=NVARCHAR},
      </if>
      <if test="record.productno != null">
        PRODUCTNo = #{record.productno,jdbcType=NVARCHAR},
      </if>
      <if test="record.product != null">
        PRODUCT = #{record.product,jdbcType=NVARCHAR},
      </if>
      <if test="record.banben != null">
        banben = #{record.banben,jdbcType=NVARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.responsible != null">
        Responsible = #{record.responsible,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.statusname != null">
        StatusName = #{record.statusname,jdbcType=NVARCHAR},
      </if>
      <if test="record.softsn != null">
        softsn = #{record.softsn,jdbcType=NVARCHAR},
      </if>
      <if test="record.hardsn != null">
        hardsn = #{record.hardsn,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update view_ProductApplyList
    set ApplypId = #{record.applypid,jdbcType=INTEGER},
      ID = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=NVARCHAR},
      PRODLINENo = #{record.prodlineno,jdbcType=NVARCHAR},
      PRODLINE = #{record.prodline,jdbcType=NVARCHAR},
      AppyType = #{record.appytype,jdbcType=NVARCHAR},
      PRODUCTNo = #{record.productno,jdbcType=NVARCHAR},
      PRODUCT = #{record.product,jdbcType=NVARCHAR},
      banben = #{record.banben,jdbcType=NVARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      Responsible = #{record.responsible,jdbcType=NVARCHAR},
      Status = #{record.status,jdbcType=NVARCHAR},
      StatusName = #{record.statusname,jdbcType=NVARCHAR},
      softsn = #{record.softsn,jdbcType=NVARCHAR},
      hardsn = #{record.hardsn,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>