<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.finance.dao.FProductCodeViewMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.finance.entity.FProductCodeView">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PRODLINE_NO" jdbcType="INTEGER" property="prodlineNo" />
    <result column="PRODLINE_NAME" jdbcType="NVARCHAR" property="prodlineName" />
    <result column="PDT_NO" jdbcType="INTEGER" property="pdtNo" />
    <result column="PDT_NAME" jdbcType="NVARCHAR" property="pdtName" />
    <result column="PRODUCT_CODE" jdbcType="NVARCHAR" property="productCode" />
    <result column="PRODUCT_NAME_CN" jdbcType="NVARCHAR" property="productNameCn" />
    <result column="PRODUCT_NAME_EN" jdbcType="NVARCHAR" property="productNameEn" />
    <result column="BOM_CODE" jdbcType="NVARCHAR" property="bomCode" />
    <result column="STATUS" jdbcType="NVARCHAR" property="status" />
    <result column="EFFECT_DATE" jdbcType="TIMESTAMP" property="effectDate" />
    <result column="APPLY_DEPT" jdbcType="NVARCHAR" property="applyDept" />
    <result column="PRODLINE_CODE" jdbcType="NVARCHAR" property="prodlineCode" />
    <result column="PRODUCT_ID" jdbcType="INTEGER" property="productId" />
    <result column="PROD_NAME" jdbcType="NVARCHAR" property="prodName" />
    <result column="MARK" jdbcType="VARCHAR" property="mark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CODE, NAME, PRODLINE_NO, PRODLINE_NAME, PDT_NO, PDT_NAME, PRODUCT_CODE, PRODUCT_NAME_CN, 
    PRODUCT_NAME_EN, BOM_CODE, STATUS, EFFECT_DATE, APPLY_DEPT, PRODLINE_CODE, PRODUCT_ID, 
    PROD_NAME, MARK
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.finance.entity.FProductCodeViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from VIEW_F_PRODUCT_CODE_VIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.finance.entity.FProductCodeViewExample">
    delete from VIEW_F_PRODUCT_CODE_VIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.finance.entity.FProductCodeView">
    insert into VIEW_F_PRODUCT_CODE_VIEW (ID, CODE, NAME, 
      PRODLINE_NO, PRODLINE_NAME, PDT_NO, 
      PDT_NAME, PRODUCT_CODE, PRODUCT_NAME_CN, 
      PRODUCT_NAME_EN, BOM_CODE, STATUS, 
      EFFECT_DATE, APPLY_DEPT, PRODLINE_CODE, 
      PRODUCT_ID, PROD_NAME, MARK
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{prodlineNo,jdbcType=INTEGER}, #{prodlineName,jdbcType=NVARCHAR}, #{pdtNo,jdbcType=INTEGER}, 
      #{pdtName,jdbcType=NVARCHAR}, #{productCode,jdbcType=NVARCHAR}, #{productNameCn,jdbcType=NVARCHAR}, 
      #{productNameEn,jdbcType=NVARCHAR}, #{bomCode,jdbcType=NVARCHAR}, #{status,jdbcType=NVARCHAR}, 
      #{effectDate,jdbcType=TIMESTAMP}, #{applyDept,jdbcType=NVARCHAR}, #{prodlineCode,jdbcType=NVARCHAR}, 
      #{productId,jdbcType=INTEGER}, #{prodName,jdbcType=NVARCHAR}, #{mark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.finance.entity.FProductCodeView">
    insert into VIEW_F_PRODUCT_CODE_VIEW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="prodlineNo != null">
        PRODLINE_NO,
      </if>
      <if test="prodlineName != null">
        PRODLINE_NAME,
      </if>
      <if test="pdtNo != null">
        PDT_NO,
      </if>
      <if test="pdtName != null">
        PDT_NAME,
      </if>
      <if test="productCode != null">
        PRODUCT_CODE,
      </if>
      <if test="productNameCn != null">
        PRODUCT_NAME_CN,
      </if>
      <if test="productNameEn != null">
        PRODUCT_NAME_EN,
      </if>
      <if test="bomCode != null">
        BOM_CODE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="effectDate != null">
        EFFECT_DATE,
      </if>
      <if test="applyDept != null">
        APPLY_DEPT,
      </if>
      <if test="prodlineCode != null">
        PRODLINE_CODE,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="prodName != null">
        PROD_NAME,
      </if>
      <if test="mark != null">
        MARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="prodlineNo != null">
        #{prodlineNo,jdbcType=INTEGER},
      </if>
      <if test="prodlineName != null">
        #{prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="pdtNo != null">
        #{pdtNo,jdbcType=INTEGER},
      </if>
      <if test="pdtName != null">
        #{pdtName,jdbcType=NVARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=NVARCHAR},
      </if>
      <if test="productNameCn != null">
        #{productNameCn,jdbcType=NVARCHAR},
      </if>
      <if test="productNameEn != null">
        #{productNameEn,jdbcType=NVARCHAR},
      </if>
      <if test="bomCode != null">
        #{bomCode,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="effectDate != null">
        #{effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyDept != null">
        #{applyDept,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineCode != null">
        #{prodlineCode,jdbcType=NVARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="prodName != null">
        #{prodName,jdbcType=NVARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.finance.entity.FProductCodeViewExample" resultType="java.lang.Long">
    select count(*) from VIEW_F_PRODUCT_CODE_VIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update VIEW_F_PRODUCT_CODE_VIEW
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.prodlineNo != null">
        PRODLINE_NO = #{record.prodlineNo,jdbcType=INTEGER},
      </if>
      <if test="record.prodlineName != null">
        PRODLINE_NAME = #{record.prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="record.pdtNo != null">
        PDT_NO = #{record.pdtNo,jdbcType=INTEGER},
      </if>
      <if test="record.pdtName != null">
        PDT_NAME = #{record.pdtName,jdbcType=NVARCHAR},
      </if>
      <if test="record.productCode != null">
        PRODUCT_CODE = #{record.productCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.productNameCn != null">
        PRODUCT_NAME_CN = #{record.productNameCn,jdbcType=NVARCHAR},
      </if>
      <if test="record.productNameEn != null">
        PRODUCT_NAME_EN = #{record.productNameEn,jdbcType=NVARCHAR},
      </if>
      <if test="record.bomCode != null">
        BOM_CODE = #{record.bomCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.effectDate != null">
        EFFECT_DATE = #{record.effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyDept != null">
        APPLY_DEPT = #{record.applyDept,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineCode != null">
        PRODLINE_CODE = #{record.prodlineCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.prodName != null">
        PROD_NAME = #{record.prodName,jdbcType=NVARCHAR},
      </if>
      <if test="record.mark != null">
        MARK = #{record.mark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update VIEW_F_PRODUCT_CODE_VIEW
    set ID = #{record.id,jdbcType=INTEGER},
      CODE = #{record.code,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PRODLINE_NO = #{record.prodlineNo,jdbcType=INTEGER},
      PRODLINE_NAME = #{record.prodlineName,jdbcType=NVARCHAR},
      PDT_NO = #{record.pdtNo,jdbcType=INTEGER},
      PDT_NAME = #{record.pdtName,jdbcType=NVARCHAR},
      PRODUCT_CODE = #{record.productCode,jdbcType=NVARCHAR},
      PRODUCT_NAME_CN = #{record.productNameCn,jdbcType=NVARCHAR},
      PRODUCT_NAME_EN = #{record.productNameEn,jdbcType=NVARCHAR},
      BOM_CODE = #{record.bomCode,jdbcType=NVARCHAR},
      STATUS = #{record.status,jdbcType=NVARCHAR},
      EFFECT_DATE = #{record.effectDate,jdbcType=TIMESTAMP},
      APPLY_DEPT = #{record.applyDept,jdbcType=NVARCHAR},
      PRODLINE_CODE = #{record.prodlineCode,jdbcType=NVARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      PROD_NAME = #{record.prodName,jdbcType=NVARCHAR},
      MARK = #{record.mark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>