<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.finance.dao.FProdLineMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.finance.entity.FProdLine">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PRODLINE_NO" jdbcType="NVARCHAR" property="prodlineNo" />
    <result column="PRODLINE_DESC" jdbcType="NVARCHAR" property="prodlineDesc" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="NVARCHAR" property="createUser" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="MODIFY_USER" jdbcType="NVARCHAR" property="modifyUser" />
    <result column="ORDER_BY" jdbcType="INTEGER" property="orderBy" />
    <result column="PRODLINE_CODE" jdbcType="NVARCHAR" property="prodlineCode" />
    <result column="SYNC_STATUS" jdbcType="VARCHAR" property="syncStatus" />
    <result column="STATUS" jdbcType="NVARCHAR" property="status" />
    <result column="PRODLINE_NAME" jdbcType="NVARCHAR" property="prodlineName" />
    <result column="PRODLINE_DESC_EN" jdbcType="NVARCHAR" property="prodlineDescEn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PRODLINE_NO, PRODLINE_DESC, CREATE_DATE, CREATE_USER, MODIFY_DATE, MODIFY_USER, 
    ORDER_BY, PRODLINE_CODE, SYNC_STATUS, STATUS, PRODLINE_NAME, PRODLINE_DESC_EN
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.finance.entity.FProdLineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_F_PRODLINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IBDS_F_PRODLINE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IBDS_F_PRODLINE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.h3c.mds.finance.entity.FProdLineExample">
    delete from IBDS_F_PRODLINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.finance.entity.FProdLine" useGeneratedKeys="true" keyProperty="id">
    insert into IBDS_F_PRODLINE (ID, PRODLINE_NO, PRODLINE_DESC, 
      CREATE_DATE, CREATE_USER, MODIFY_DATE, 
      MODIFY_USER, ORDER_BY, PRODLINE_CODE, 
      SYNC_STATUS, STATUS, PRODLINE_NAME, 
      PRODLINE_DESC_EN)
    values (#{id,jdbcType=INTEGER}, #{prodlineNo,jdbcType=NVARCHAR}, #{prodlineDesc,jdbcType=NVARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=NVARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=NVARCHAR}, #{orderBy,jdbcType=INTEGER}, #{prodlineCode,jdbcType=NVARCHAR}, 
      #{syncStatus,jdbcType=VARCHAR}, #{status,jdbcType=NVARCHAR}, #{prodlineName,jdbcType=NVARCHAR}, 
      #{prodlineDescEn,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.finance.entity.FProdLine" useGeneratedKeys="true" keyProperty="id">
    insert into IBDS_F_PRODLINE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="prodlineNo != null">
        PRODLINE_NO,
      </if>
      <if test="prodlineDesc != null">
        PRODLINE_DESC,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="orderBy != null">
        ORDER_BY,
      </if>
      <if test="prodlineCode != null">
        PRODLINE_CODE,
      </if>
      <if test="syncStatus != null">
        SYNC_STATUS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="prodlineName != null">
        PRODLINE_NAME,
      </if>
      <if test="prodlineDescEn != null">
        PRODLINE_DESC_EN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prodlineNo != null">
        #{prodlineNo,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineDesc != null">
        #{prodlineDesc,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="prodlineCode != null">
        #{prodlineCode,jdbcType=NVARCHAR},
      </if>
      <if test="syncStatus != null">
        #{syncStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineName != null">
        #{prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineDescEn != null">
        #{prodlineDescEn,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.finance.entity.FProdLineExample" resultType="java.lang.Long">
    select count(*) from IBDS_F_PRODLINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_F_PRODLINE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prodlineNo != null">
        PRODLINE_NO = #{record.prodlineNo,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineDesc != null">
        PRODLINE_DESC = #{record.prodlineDesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.modifyDate != null">
        MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUser != null">
        MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="record.orderBy != null">
        ORDER_BY = #{record.orderBy,jdbcType=INTEGER},
      </if>
      <if test="record.prodlineCode != null">
        PRODLINE_CODE = #{record.prodlineCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.syncStatus != null">
        SYNC_STATUS = #{record.syncStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineName != null">
        PRODLINE_NAME = #{record.prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="record.prodlineDescEn != null">
        PRODLINE_DESC_EN = #{record.prodlineDescEn,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_F_PRODLINE
    set ID = #{record.id,jdbcType=INTEGER},
      PRODLINE_NO = #{record.prodlineNo,jdbcType=NVARCHAR},
      PRODLINE_DESC = #{record.prodlineDesc,jdbcType=NVARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{record.modifyUser,jdbcType=NVARCHAR},
      ORDER_BY = #{record.orderBy,jdbcType=INTEGER},
      PRODLINE_CODE = #{record.prodlineCode,jdbcType=NVARCHAR},
      SYNC_STATUS = #{record.syncStatus,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=NVARCHAR},
      PRODLINE_NAME = #{record.prodlineName,jdbcType=NVARCHAR},
      PRODLINE_DESC_EN = #{record.prodlineDescEn,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.mds.finance.entity.FProdLine">
    update IBDS_F_PRODLINE
    <set>
      <if test="prodlineNo != null">
        PRODLINE_NO = #{prodlineNo,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineDesc != null">
        PRODLINE_DESC = #{prodlineDesc,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      </if>
      <if test="orderBy != null">
        ORDER_BY = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="prodlineCode != null">
        PRODLINE_CODE = #{prodlineCode,jdbcType=NVARCHAR},
      </if>
      <if test="syncStatus != null">
        SYNC_STATUS = #{syncStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineName != null">
        PRODLINE_NAME = #{prodlineName,jdbcType=NVARCHAR},
      </if>
      <if test="prodlineDescEn != null">
        PRODLINE_DESC_EN = #{prodlineDescEn,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.mds.finance.entity.FProdLine">
    update IBDS_F_PRODLINE
    set PRODLINE_NO = #{prodlineNo,jdbcType=NVARCHAR},
      PRODLINE_DESC = #{prodlineDesc,jdbcType=NVARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=NVARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=NVARCHAR},
      ORDER_BY = #{orderBy,jdbcType=INTEGER},
      PRODLINE_CODE = #{prodlineCode,jdbcType=NVARCHAR},
      SYNC_STATUS = #{syncStatus,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=NVARCHAR},
      PRODLINE_NAME = #{prodlineName,jdbcType=NVARCHAR},
      PRODLINE_DESC_EN = #{prodlineDescEn,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>