<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.finance.dao.FProjectCodeHisMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.finance.entity.FProjectCodeHis">
    <result column="f_objca" jdbcType="VARCHAR" property="fObjca" />
    <result column="f_pdtno" jdbcType="VARCHAR" property="fPdtno" />
    <result column="f_projno" jdbcType="VARCHAR" property="fProjno" />
    <result column="f_projname" jdbcType="VARCHAR" property="fProjname" />
    <result column="f_projcode" jdbcType="VARCHAR" property="fProjcode" />
    <result column="f_productlineno" jdbcType="VARCHAR" property="fProductlineno" />
    <result column="f_releaseno" jdbcType="VARCHAR" property="fReleaseno" />
    <result column="f_productno" jdbcType="VARCHAR" property="fProductno" />
    <result column="f_productname" jdbcType="VARCHAR" property="fProductname" />
    <result column="f_bizhong" jdbcType="VARCHAR" property="fBizhong" />
    <result column="f_fbizhong" jdbcType="VARCHAR" property="fFbizhong" />
    <result column="BeginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="f_projMng" jdbcType="VARCHAR" property="fProjmng" />
    <result column="f_dept" jdbcType="VARCHAR" property="fDept" />
    <result column="f_start_project_time" jdbcType="TIMESTAMP" property="fStartProjectTime" />
    <result column="f_assign_point" jdbcType="VARCHAR" property="fAssignPoint" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="f_profile" jdbcType="VARCHAR" property="fProfile" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="datasource" jdbcType="VARCHAR" property="datasource" />
    <result column="f_objca_name" jdbcType="VARCHAR" property="fObjcaName" />
    <result column="f_pdt_name" jdbcType="VARCHAR" property="fPdtName" />
    <result column="f_productline_name" jdbcType="VARCHAR" property="fProductlineName" />
    <result column="f_assign_point_name" jdbcType="VARCHAR" property="fAssignPointName" />
    <result column="f_bversionno" jdbcType="VARCHAR" property="fBversionno" />
    <result column="f_releasename" jdbcType="NVARCHAR" property="fReleasename" />
    <result column="f_bversionname" jdbcType="NVARCHAR" property="fBversionname" />
    <result column="f_rate" jdbcType="INTEGER" property="fRate" />
    <result column="f_old_objca" jdbcType="VARCHAR" property="fOldObjca" />
    <result column="f_old_objca_name" jdbcType="VARCHAR" property="fOldObjcaName" />
    <result column="f_old_pdtno" jdbcType="VARCHAR" property="fOldPdtno" />
    <result column="f_old_pdt_name" jdbcType="VARCHAR" property="fOldPdtName" />
    <result column="f_old_projno" jdbcType="VARCHAR" property="fOldProjno" />
    <result column="f_old_projname" jdbcType="VARCHAR" property="fOldProjname" />
    <result column="f_old_projcode" jdbcType="VARCHAR" property="fOldProjcode" />
    <result column="f_old_productlineno" jdbcType="VARCHAR" property="fOldProductlineno" />
    <result column="f_old_productline_name" jdbcType="NVARCHAR" property="fOldProductlineName" />
    <result column="f_old_releaseno" jdbcType="VARCHAR" property="fOldReleaseno" />
    <result column="f_old_productno" jdbcType="VARCHAR" property="fOldProductno" />
    <result column="f_old_productname" jdbcType="VARCHAR" property="fOldProductname" />
    <result column="f_old_bizhong" jdbcType="VARCHAR" property="fOldBizhong" />
    <result column="f_old_fbizhong" jdbcType="VARCHAR" property="fOldFbizhong" />
    <result column="f_old_rate" jdbcType="INTEGER" property="fOldRate" />
    <result column="f_version" jdbcType="NVARCHAR" property="fVersion" />
    <result column="f_old_version" jdbcType="NVARCHAR" property="fOldVersion" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    f_objca, f_pdtno, f_projno, f_projname, f_projcode, f_productlineno, f_releaseno, 
    f_productno, f_productname, f_bizhong, f_fbizhong, BeginTime, f_projMng, f_dept, 
    f_start_project_time, f_assign_point, remark, create_user, create_time, modify_user, 
    modify_date, ID, f_profile, status, datasource, f_objca_name, f_pdt_name, f_productline_name, 
    f_assign_point_name, f_bversionno, f_releasename, f_bversionname, f_rate, f_old_objca, 
    f_old_objca_name, f_old_pdtno, f_old_pdt_name, f_old_projno, f_old_projname, f_old_projcode, 
    f_old_productlineno, f_old_productline_name, f_old_releaseno, f_old_productno, f_old_productname, 
    f_old_bizhong, f_old_fbizhong, f_old_rate, f_version, f_old_version, mark
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.finance.entity.FProjectCodeHisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IBDS_F_PROJECT_CODE_HIS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.finance.entity.FProjectCodeHisExample">
    delete from IBDS_F_PROJECT_CODE_HIS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.finance.entity.FProjectCodeHis">
    insert into IBDS_F_PROJECT_CODE_HIS (f_objca, f_pdtno, f_projno, 
      f_projname, f_projcode, f_productlineno, 
      f_releaseno, f_productno, f_productname, 
      f_bizhong, f_fbizhong, BeginTime, 
      f_projMng, f_dept, f_start_project_time, 
      f_assign_point, remark, create_user, 
      create_time, modify_user, modify_date, 
      ID, f_profile, status, 
      datasource, f_objca_name, f_pdt_name, 
      f_productline_name, f_assign_point_name, f_bversionno, 
      f_releasename, f_bversionname, f_rate, 
      f_old_objca, f_old_objca_name, f_old_pdtno, 
      f_old_pdt_name, f_old_projno, f_old_projname, 
      f_old_projcode, f_old_productlineno, f_old_productline_name, 
      f_old_releaseno, f_old_productno, f_old_productname, 
      f_old_bizhong, f_old_fbizhong, f_old_rate, 
      f_version, f_old_version, mark
      )
    values (#{fObjca,jdbcType=VARCHAR}, #{fPdtno,jdbcType=VARCHAR}, #{fProjno,jdbcType=VARCHAR}, 
      #{fProjname,jdbcType=VARCHAR}, #{fProjcode,jdbcType=VARCHAR}, #{fProductlineno,jdbcType=VARCHAR}, 
      #{fReleaseno,jdbcType=VARCHAR}, #{fProductno,jdbcType=VARCHAR}, #{fProductname,jdbcType=VARCHAR}, 
      #{fBizhong,jdbcType=VARCHAR}, #{fFbizhong,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, 
      #{fProjmng,jdbcType=VARCHAR}, #{fDept,jdbcType=VARCHAR}, #{fStartProjectTime,jdbcType=TIMESTAMP}, 
      #{fAssignPoint,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{id,jdbcType=INTEGER}, #{fProfile,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{datasource,jdbcType=VARCHAR}, #{fObjcaName,jdbcType=VARCHAR}, #{fPdtName,jdbcType=VARCHAR}, 
      #{fProductlineName,jdbcType=VARCHAR}, #{fAssignPointName,jdbcType=VARCHAR}, #{fBversionno,jdbcType=VARCHAR}, 
      #{fReleasename,jdbcType=NVARCHAR}, #{fBversionname,jdbcType=NVARCHAR}, #{fRate,jdbcType=INTEGER}, 
      #{fOldObjca,jdbcType=VARCHAR}, #{fOldObjcaName,jdbcType=VARCHAR}, #{fOldPdtno,jdbcType=VARCHAR}, 
      #{fOldPdtName,jdbcType=VARCHAR}, #{fOldProjno,jdbcType=VARCHAR}, #{fOldProjname,jdbcType=VARCHAR}, 
      #{fOldProjcode,jdbcType=VARCHAR}, #{fOldProductlineno,jdbcType=VARCHAR}, #{fOldProductlineName,jdbcType=NVARCHAR}, 
      #{fOldReleaseno,jdbcType=VARCHAR}, #{fOldProductno,jdbcType=VARCHAR}, #{fOldProductname,jdbcType=VARCHAR}, 
      #{fOldBizhong,jdbcType=VARCHAR}, #{fOldFbizhong,jdbcType=VARCHAR}, #{fOldRate,jdbcType=INTEGER}, 
      #{fVersion,jdbcType=NVARCHAR}, #{fOldVersion,jdbcType=NVARCHAR}, #{mark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.finance.entity.FProjectCodeHis">
    insert into IBDS_F_PROJECT_CODE_HIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fObjca != null">
        f_objca,
      </if>
      <if test="fPdtno != null">
        f_pdtno,
      </if>
      <if test="fProjno != null">
        f_projno,
      </if>
      <if test="fProjname != null">
        f_projname,
      </if>
      <if test="fProjcode != null">
        f_projcode,
      </if>
      <if test="fProductlineno != null">
        f_productlineno,
      </if>
      <if test="fReleaseno != null">
        f_releaseno,
      </if>
      <if test="fProductno != null">
        f_productno,
      </if>
      <if test="fProductname != null">
        f_productname,
      </if>
      <if test="fBizhong != null">
        f_bizhong,
      </if>
      <if test="fFbizhong != null">
        f_fbizhong,
      </if>
      <if test="begintime != null">
        BeginTime,
      </if>
      <if test="fProjmng != null">
        f_projMng,
      </if>
      <if test="fDept != null">
        f_dept,
      </if>
      <if test="fStartProjectTime != null">
        f_start_project_time,
      </if>
      <if test="fAssignPoint != null">
        f_assign_point,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="fProfile != null">
        f_profile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="datasource != null">
        datasource,
      </if>
      <if test="fObjcaName != null">
        f_objca_name,
      </if>
      <if test="fPdtName != null">
        f_pdt_name,
      </if>
      <if test="fProductlineName != null">
        f_productline_name,
      </if>
      <if test="fAssignPointName != null">
        f_assign_point_name,
      </if>
      <if test="fBversionno != null">
        f_bversionno,
      </if>
      <if test="fReleasename != null">
        f_releasename,
      </if>
      <if test="fBversionname != null">
        f_bversionname,
      </if>
      <if test="fRate != null">
        f_rate,
      </if>
      <if test="fOldObjca != null">
        f_old_objca,
      </if>
      <if test="fOldObjcaName != null">
        f_old_objca_name,
      </if>
      <if test="fOldPdtno != null">
        f_old_pdtno,
      </if>
      <if test="fOldPdtName != null">
        f_old_pdt_name,
      </if>
      <if test="fOldProjno != null">
        f_old_projno,
      </if>
      <if test="fOldProjname != null">
        f_old_projname,
      </if>
      <if test="fOldProjcode != null">
        f_old_projcode,
      </if>
      <if test="fOldProductlineno != null">
        f_old_productlineno,
      </if>
      <if test="fOldProductlineName != null">
        f_old_productline_name,
      </if>
      <if test="fOldReleaseno != null">
        f_old_releaseno,
      </if>
      <if test="fOldProductno != null">
        f_old_productno,
      </if>
      <if test="fOldProductname != null">
        f_old_productname,
      </if>
      <if test="fOldBizhong != null">
        f_old_bizhong,
      </if>
      <if test="fOldFbizhong != null">
        f_old_fbizhong,
      </if>
      <if test="fOldRate != null">
        f_old_rate,
      </if>
      <if test="fVersion != null">
        f_version,
      </if>
      <if test="fOldVersion != null">
        f_old_version,
      </if>
      <if test="mark != null">
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fObjca != null">
        #{fObjca,jdbcType=VARCHAR},
      </if>
      <if test="fPdtno != null">
        #{fPdtno,jdbcType=VARCHAR},
      </if>
      <if test="fProjno != null">
        #{fProjno,jdbcType=VARCHAR},
      </if>
      <if test="fProjname != null">
        #{fProjname,jdbcType=VARCHAR},
      </if>
      <if test="fProjcode != null">
        #{fProjcode,jdbcType=VARCHAR},
      </if>
      <if test="fProductlineno != null">
        #{fProductlineno,jdbcType=VARCHAR},
      </if>
      <if test="fReleaseno != null">
        #{fReleaseno,jdbcType=VARCHAR},
      </if>
      <if test="fProductno != null">
        #{fProductno,jdbcType=VARCHAR},
      </if>
      <if test="fProductname != null">
        #{fProductname,jdbcType=VARCHAR},
      </if>
      <if test="fBizhong != null">
        #{fBizhong,jdbcType=VARCHAR},
      </if>
      <if test="fFbizhong != null">
        #{fFbizhong,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="fProjmng != null">
        #{fProjmng,jdbcType=VARCHAR},
      </if>
      <if test="fDept != null">
        #{fDept,jdbcType=VARCHAR},
      </if>
      <if test="fStartProjectTime != null">
        #{fStartProjectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fAssignPoint != null">
        #{fAssignPoint,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fProfile != null">
        #{fProfile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="datasource != null">
        #{datasource,jdbcType=VARCHAR},
      </if>
      <if test="fObjcaName != null">
        #{fObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="fPdtName != null">
        #{fPdtName,jdbcType=VARCHAR},
      </if>
      <if test="fProductlineName != null">
        #{fProductlineName,jdbcType=VARCHAR},
      </if>
      <if test="fAssignPointName != null">
        #{fAssignPointName,jdbcType=VARCHAR},
      </if>
      <if test="fBversionno != null">
        #{fBversionno,jdbcType=VARCHAR},
      </if>
      <if test="fReleasename != null">
        #{fReleasename,jdbcType=NVARCHAR},
      </if>
      <if test="fBversionname != null">
        #{fBversionname,jdbcType=NVARCHAR},
      </if>
      <if test="fRate != null">
        #{fRate,jdbcType=INTEGER},
      </if>
      <if test="fOldObjca != null">
        #{fOldObjca,jdbcType=VARCHAR},
      </if>
      <if test="fOldObjcaName != null">
        #{fOldObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="fOldPdtno != null">
        #{fOldPdtno,jdbcType=VARCHAR},
      </if>
      <if test="fOldPdtName != null">
        #{fOldPdtName,jdbcType=VARCHAR},
      </if>
      <if test="fOldProjno != null">
        #{fOldProjno,jdbcType=VARCHAR},
      </if>
      <if test="fOldProjname != null">
        #{fOldProjname,jdbcType=VARCHAR},
      </if>
      <if test="fOldProjcode != null">
        #{fOldProjcode,jdbcType=VARCHAR},
      </if>
      <if test="fOldProductlineno != null">
        #{fOldProductlineno,jdbcType=VARCHAR},
      </if>
      <if test="fOldProductlineName != null">
        #{fOldProductlineName,jdbcType=NVARCHAR},
      </if>
      <if test="fOldReleaseno != null">
        #{fOldReleaseno,jdbcType=VARCHAR},
      </if>
      <if test="fOldProductno != null">
        #{fOldProductno,jdbcType=VARCHAR},
      </if>
      <if test="fOldProductname != null">
        #{fOldProductname,jdbcType=VARCHAR},
      </if>
      <if test="fOldBizhong != null">
        #{fOldBizhong,jdbcType=VARCHAR},
      </if>
      <if test="fOldFbizhong != null">
        #{fOldFbizhong,jdbcType=VARCHAR},
      </if>
      <if test="fOldRate != null">
        #{fOldRate,jdbcType=INTEGER},
      </if>
      <if test="fVersion != null">
        #{fVersion,jdbcType=NVARCHAR},
      </if>
      <if test="fOldVersion != null">
        #{fOldVersion,jdbcType=NVARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.finance.entity.FProjectCodeHisExample" resultType="java.lang.Long">
    select count(*) from IBDS_F_PROJECT_CODE_HIS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IBDS_F_PROJECT_CODE_HIS
    <set>
      <if test="record.fObjca != null">
        f_objca = #{record.fObjca,jdbcType=VARCHAR},
      </if>
      <if test="record.fPdtno != null">
        f_pdtno = #{record.fPdtno,jdbcType=VARCHAR},
      </if>
      <if test="record.fProjno != null">
        f_projno = #{record.fProjno,jdbcType=VARCHAR},
      </if>
      <if test="record.fProjname != null">
        f_projname = #{record.fProjname,jdbcType=VARCHAR},
      </if>
      <if test="record.fProjcode != null">
        f_projcode = #{record.fProjcode,jdbcType=VARCHAR},
      </if>
      <if test="record.fProductlineno != null">
        f_productlineno = #{record.fProductlineno,jdbcType=VARCHAR},
      </if>
      <if test="record.fReleaseno != null">
        f_releaseno = #{record.fReleaseno,jdbcType=VARCHAR},
      </if>
      <if test="record.fProductno != null">
        f_productno = #{record.fProductno,jdbcType=VARCHAR},
      </if>
      <if test="record.fProductname != null">
        f_productname = #{record.fProductname,jdbcType=VARCHAR},
      </if>
      <if test="record.fBizhong != null">
        f_bizhong = #{record.fBizhong,jdbcType=VARCHAR},
      </if>
      <if test="record.fFbizhong != null">
        f_fbizhong = #{record.fFbizhong,jdbcType=VARCHAR},
      </if>
      <if test="record.begintime != null">
        BeginTime = #{record.begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fProjmng != null">
        f_projMng = #{record.fProjmng,jdbcType=VARCHAR},
      </if>
      <if test="record.fDept != null">
        f_dept = #{record.fDept,jdbcType=VARCHAR},
      </if>
      <if test="record.fStartProjectTime != null">
        f_start_project_time = #{record.fStartProjectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fAssignPoint != null">
        f_assign_point = #{record.fAssignPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUser != null">
        modify_user = #{record.modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyDate != null">
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fProfile != null">
        f_profile = #{record.fProfile,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.datasource != null">
        datasource = #{record.datasource,jdbcType=VARCHAR},
      </if>
      <if test="record.fObjcaName != null">
        f_objca_name = #{record.fObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="record.fPdtName != null">
        f_pdt_name = #{record.fPdtName,jdbcType=VARCHAR},
      </if>
      <if test="record.fProductlineName != null">
        f_productline_name = #{record.fProductlineName,jdbcType=VARCHAR},
      </if>
      <if test="record.fAssignPointName != null">
        f_assign_point_name = #{record.fAssignPointName,jdbcType=VARCHAR},
      </if>
      <if test="record.fBversionno != null">
        f_bversionno = #{record.fBversionno,jdbcType=VARCHAR},
      </if>
      <if test="record.fReleasename != null">
        f_releasename = #{record.fReleasename,jdbcType=NVARCHAR},
      </if>
      <if test="record.fBversionname != null">
        f_bversionname = #{record.fBversionname,jdbcType=NVARCHAR},
      </if>
      <if test="record.fRate != null">
        f_rate = #{record.fRate,jdbcType=INTEGER},
      </if>
      <if test="record.fOldObjca != null">
        f_old_objca = #{record.fOldObjca,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldObjcaName != null">
        f_old_objca_name = #{record.fOldObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldPdtno != null">
        f_old_pdtno = #{record.fOldPdtno,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldPdtName != null">
        f_old_pdt_name = #{record.fOldPdtName,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProjno != null">
        f_old_projno = #{record.fOldProjno,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProjname != null">
        f_old_projname = #{record.fOldProjname,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProjcode != null">
        f_old_projcode = #{record.fOldProjcode,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProductlineno != null">
        f_old_productlineno = #{record.fOldProductlineno,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProductlineName != null">
        f_old_productline_name = #{record.fOldProductlineName,jdbcType=NVARCHAR},
      </if>
      <if test="record.fOldReleaseno != null">
        f_old_releaseno = #{record.fOldReleaseno,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProductno != null">
        f_old_productno = #{record.fOldProductno,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProductname != null">
        f_old_productname = #{record.fOldProductname,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldBizhong != null">
        f_old_bizhong = #{record.fOldBizhong,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldFbizhong != null">
        f_old_fbizhong = #{record.fOldFbizhong,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldRate != null">
        f_old_rate = #{record.fOldRate,jdbcType=INTEGER},
      </if>
      <if test="record.fVersion != null">
        f_version = #{record.fVersion,jdbcType=NVARCHAR},
      </if>
      <if test="record.fOldVersion != null">
        f_old_version = #{record.fOldVersion,jdbcType=NVARCHAR},
      </if>
      <if test="record.mark != null">
        mark = #{record.mark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IBDS_F_PROJECT_CODE_HIS
    set f_objca = #{record.fObjca,jdbcType=VARCHAR},
      f_pdtno = #{record.fPdtno,jdbcType=VARCHAR},
      f_projno = #{record.fProjno,jdbcType=VARCHAR},
      f_projname = #{record.fProjname,jdbcType=VARCHAR},
      f_projcode = #{record.fProjcode,jdbcType=VARCHAR},
      f_productlineno = #{record.fProductlineno,jdbcType=VARCHAR},
      f_releaseno = #{record.fReleaseno,jdbcType=VARCHAR},
      f_productno = #{record.fProductno,jdbcType=VARCHAR},
      f_productname = #{record.fProductname,jdbcType=VARCHAR},
      f_bizhong = #{record.fBizhong,jdbcType=VARCHAR},
      f_fbizhong = #{record.fFbizhong,jdbcType=VARCHAR},
      BeginTime = #{record.begintime,jdbcType=TIMESTAMP},
      f_projMng = #{record.fProjmng,jdbcType=VARCHAR},
      f_dept = #{record.fDept,jdbcType=VARCHAR},
      f_start_project_time = #{record.fStartProjectTime,jdbcType=TIMESTAMP},
      f_assign_point = #{record.fAssignPoint,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_user = #{record.modifyUser,jdbcType=VARCHAR},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      ID = #{record.id,jdbcType=INTEGER},
      f_profile = #{record.fProfile,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      datasource = #{record.datasource,jdbcType=VARCHAR},
      f_objca_name = #{record.fObjcaName,jdbcType=VARCHAR},
      f_pdt_name = #{record.fPdtName,jdbcType=VARCHAR},
      f_productline_name = #{record.fProductlineName,jdbcType=VARCHAR},
      f_assign_point_name = #{record.fAssignPointName,jdbcType=VARCHAR},
      f_bversionno = #{record.fBversionno,jdbcType=VARCHAR},
      f_releasename = #{record.fReleasename,jdbcType=NVARCHAR},
      f_bversionname = #{record.fBversionname,jdbcType=NVARCHAR},
      f_rate = #{record.fRate,jdbcType=INTEGER},
      f_old_objca = #{record.fOldObjca,jdbcType=VARCHAR},
      f_old_objca_name = #{record.fOldObjcaName,jdbcType=VARCHAR},
      f_old_pdtno = #{record.fOldPdtno,jdbcType=VARCHAR},
      f_old_pdt_name = #{record.fOldPdtName,jdbcType=VARCHAR},
      f_old_projno = #{record.fOldProjno,jdbcType=VARCHAR},
      f_old_projname = #{record.fOldProjname,jdbcType=VARCHAR},
      f_old_projcode = #{record.fOldProjcode,jdbcType=VARCHAR},
      f_old_productlineno = #{record.fOldProductlineno,jdbcType=VARCHAR},
      f_old_productline_name = #{record.fOldProductlineName,jdbcType=NVARCHAR},
      f_old_releaseno = #{record.fOldReleaseno,jdbcType=VARCHAR},
      f_old_productno = #{record.fOldProductno,jdbcType=VARCHAR},
      f_old_productname = #{record.fOldProductname,jdbcType=VARCHAR},
      f_old_bizhong = #{record.fOldBizhong,jdbcType=VARCHAR},
      f_old_fbizhong = #{record.fOldFbizhong,jdbcType=VARCHAR},
      f_old_rate = #{record.fOldRate,jdbcType=INTEGER},
      f_version = #{record.fVersion,jdbcType=NVARCHAR},
      f_old_version = #{record.fOldVersion,jdbcType=NVARCHAR},
      mark = #{record.mark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>