<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.finance.dao.FProdMapper">
  <select id="getPdtId" parameterType="int" resultMap="BaseResultMap">
    SELECT DISTINCT
        A.*
    FROM
        IBDS_F_PROD A
    JOIN IBDS_F_PRODUCT_CODE B ON A.ID = B.PRODUCT_ID
    WHERE
        B.PDT_ID = #{pdtId}
    ORDER BY
        A.PROD_NO
  </select>
</mapper>