<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.mds.finance.dao.NotesProjectCodeTmpMapper">
  <resultMap id="BaseResultMap" type="com.h3c.mds.finance.entity.NotesProjectCodeTmp">
    <result column="f_objca_name" jdbcType="VARCHAR" property="fObjcaName" />
    <result column="f_pdt_name" jdbcType="NVARCHAR" property="fPdtName" />
    <result column="f_projno" jdbcType="VARCHAR" property="fProjno" />
    <result column="f_projname" jdbcType="VARCHAR" property="fProjname" />
    <result column="f_projcode" jdbcType="VARCHAR" property="fProjcode" />
    <result column="f_productline_name" jdbcType="NVARCHAR" property="fProductlineName" />
    <result column="f_version" jdbcType="VARCHAR" property="fVersion" />
    <result column="f_product_code" jdbcType="VARCHAR" property="fProductCode" />
    <result column="PRODUCT_NAME_CN" jdbcType="NVARCHAR" property="productNameCn" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="f_bizhong" jdbcType="DECIMAL" property="fBizhong" />
    <result column="f_fbizhong" jdbcType="DECIMAL" property="fFbizhong" />
    <result column="BeginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="f_projMng" jdbcType="NVARCHAR" property="fProjmng" />
    <result column="f_dept" jdbcType="NVARCHAR" property="fDept" />
    <result column="f_start_project_time" jdbcType="TIMESTAMP" property="fStartProjectTime" />
    <result column="f_assign_point_name" jdbcType="VARCHAR" property="fAssignPointName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="f_old_objca_name" jdbcType="VARCHAR" property="fOldObjcaName" />
    <result column="f_old_pdt_name" jdbcType="VARCHAR" property="fOldPdtName" />
    <result column="f_old_projno" jdbcType="VARCHAR" property="fOldProjno" />
    <result column="f_old_projname" jdbcType="VARCHAR" property="fOldProjname" />
    <result column="f_old_projcode" jdbcType="VARCHAR" property="fOldProjcode" />
    <result column="f_old_productline_name" jdbcType="NVARCHAR" property="fOldProductlineName" />
    <result column="f_old_version" jdbcType="VARCHAR" property="fOldVersion" />
    <result column="f_old_productno" jdbcType="VARCHAR" property="fOldProductno" />
    <result column="f_old_productname" jdbcType="VARCHAR" property="fOldProductname" />
    <result column="f_old_rate" jdbcType="DECIMAL" property="fOldRate" />
    <result column="f_old_bizhong" jdbcType="DECIMAL" property="fOldBizhong" />
    <result column="f_old_fbizhong" jdbcType="DECIMAL" property="fOldFbizhong" />
    <result column="f_author" jdbcType="VARCHAR" property="fAuthor" />
    <result column="WF_ORUNID" jdbcType="VARCHAR" property="wfOrunid" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="UpdataFlag" jdbcType="VARCHAR" property="updataflag" />
    <result column="readers" jdbcType="VARCHAR" property="readers" />
    <result column="f_zhuangtai" jdbcType="VARCHAR" property="fZhuangtai" />
    <result column="cause" jdbcType="VARCHAR" property="cause" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    f_objca_name, f_pdt_name, f_projno, f_projname, f_projcode, f_productline_name, f_version, 
    f_product_code, PRODUCT_NAME_CN, rate, f_bizhong, f_fbizhong, BeginTime, f_projMng, 
    f_dept, f_start_project_time, f_assign_point_name, remark, f_old_objca_name, f_old_pdt_name, 
    f_old_projno, f_old_projname, f_old_projcode, f_old_productline_name, f_old_version, 
    f_old_productno, f_old_productname, f_old_rate, f_old_bizhong, f_old_fbizhong, f_author, 
    WF_ORUNID, mark, UpdataFlag, readers, f_zhuangtai, cause
  </sql>
  <select id="selectByExample" parameterType="com.h3c.mds.finance.entity.NotesProjectCodeTmpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notesProjectCodeTmp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h3c.mds.finance.entity.NotesProjectCodeTmpExample">
    delete from notesProjectCodeTmp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.mds.finance.entity.NotesProjectCodeTmp">
    insert into notesProjectCodeTmp (f_objca_name, f_pdt_name, f_projno, 
      f_projname, f_projcode, f_productline_name, 
      f_version, f_product_code, PRODUCT_NAME_CN, 
      rate, f_bizhong, f_fbizhong, 
      BeginTime, f_projMng, f_dept, 
      f_start_project_time, f_assign_point_name, 
      remark, f_old_objca_name, f_old_pdt_name, 
      f_old_projno, f_old_projname, f_old_projcode, 
      f_old_productline_name, f_old_version, f_old_productno, 
      f_old_productname, f_old_rate, f_old_bizhong, 
      f_old_fbizhong, f_author, WF_ORUNID, 
      mark, UpdataFlag, readers, 
      f_zhuangtai, cause)
    values (#{fObjcaName,jdbcType=VARCHAR}, #{fPdtName,jdbcType=NVARCHAR}, #{fProjno,jdbcType=VARCHAR}, 
      #{fProjname,jdbcType=VARCHAR}, #{fProjcode,jdbcType=VARCHAR}, #{fProductlineName,jdbcType=NVARCHAR}, 
      #{fVersion,jdbcType=VARCHAR}, #{fProductCode,jdbcType=VARCHAR}, #{productNameCn,jdbcType=NVARCHAR}, 
      #{rate,jdbcType=DECIMAL}, #{fBizhong,jdbcType=DECIMAL}, #{fFbizhong,jdbcType=DECIMAL}, 
      #{begintime,jdbcType=TIMESTAMP}, #{fProjmng,jdbcType=NVARCHAR}, #{fDept,jdbcType=NVARCHAR}, 
      #{fStartProjectTime,jdbcType=TIMESTAMP}, #{fAssignPointName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{fOldObjcaName,jdbcType=VARCHAR}, #{fOldPdtName,jdbcType=VARCHAR}, 
      #{fOldProjno,jdbcType=VARCHAR}, #{fOldProjname,jdbcType=VARCHAR}, #{fOldProjcode,jdbcType=VARCHAR}, 
      #{fOldProductlineName,jdbcType=NVARCHAR}, #{fOldVersion,jdbcType=VARCHAR}, #{fOldProductno,jdbcType=VARCHAR}, 
      #{fOldProductname,jdbcType=VARCHAR}, #{fOldRate,jdbcType=DECIMAL}, #{fOldBizhong,jdbcType=DECIMAL}, 
      #{fOldFbizhong,jdbcType=DECIMAL}, #{fAuthor,jdbcType=VARCHAR}, #{wfOrunid,jdbcType=VARCHAR}, 
      #{mark,jdbcType=VARCHAR}, #{updataflag,jdbcType=VARCHAR}, #{readers,jdbcType=VARCHAR}, 
      #{fZhuangtai,jdbcType=VARCHAR}, #{cause,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.mds.finance.entity.NotesProjectCodeTmp">
    insert into notesProjectCodeTmp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fObjcaName != null">
        f_objca_name,
      </if>
      <if test="fPdtName != null">
        f_pdt_name,
      </if>
      <if test="fProjno != null">
        f_projno,
      </if>
      <if test="fProjname != null">
        f_projname,
      </if>
      <if test="fProjcode != null">
        f_projcode,
      </if>
      <if test="fProductlineName != null">
        f_productline_name,
      </if>
      <if test="fVersion != null">
        f_version,
      </if>
      <if test="fProductCode != null">
        f_product_code,
      </if>
      <if test="productNameCn != null">
        PRODUCT_NAME_CN,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="fBizhong != null">
        f_bizhong,
      </if>
      <if test="fFbizhong != null">
        f_fbizhong,
      </if>
      <if test="begintime != null">
        BeginTime,
      </if>
      <if test="fProjmng != null">
        f_projMng,
      </if>
      <if test="fDept != null">
        f_dept,
      </if>
      <if test="fStartProjectTime != null">
        f_start_project_time,
      </if>
      <if test="fAssignPointName != null">
        f_assign_point_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="fOldObjcaName != null">
        f_old_objca_name,
      </if>
      <if test="fOldPdtName != null">
        f_old_pdt_name,
      </if>
      <if test="fOldProjno != null">
        f_old_projno,
      </if>
      <if test="fOldProjname != null">
        f_old_projname,
      </if>
      <if test="fOldProjcode != null">
        f_old_projcode,
      </if>
      <if test="fOldProductlineName != null">
        f_old_productline_name,
      </if>
      <if test="fOldVersion != null">
        f_old_version,
      </if>
      <if test="fOldProductno != null">
        f_old_productno,
      </if>
      <if test="fOldProductname != null">
        f_old_productname,
      </if>
      <if test="fOldRate != null">
        f_old_rate,
      </if>
      <if test="fOldBizhong != null">
        f_old_bizhong,
      </if>
      <if test="fOldFbizhong != null">
        f_old_fbizhong,
      </if>
      <if test="fAuthor != null">
        f_author,
      </if>
      <if test="wfOrunid != null">
        WF_ORUNID,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="updataflag != null">
        UpdataFlag,
      </if>
      <if test="readers != null">
        readers,
      </if>
      <if test="fZhuangtai != null">
        f_zhuangtai,
      </if>
      <if test="cause != null">
        cause,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fObjcaName != null">
        #{fObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="fPdtName != null">
        #{fPdtName,jdbcType=NVARCHAR},
      </if>
      <if test="fProjno != null">
        #{fProjno,jdbcType=VARCHAR},
      </if>
      <if test="fProjname != null">
        #{fProjname,jdbcType=VARCHAR},
      </if>
      <if test="fProjcode != null">
        #{fProjcode,jdbcType=VARCHAR},
      </if>
      <if test="fProductlineName != null">
        #{fProductlineName,jdbcType=NVARCHAR},
      </if>
      <if test="fVersion != null">
        #{fVersion,jdbcType=VARCHAR},
      </if>
      <if test="fProductCode != null">
        #{fProductCode,jdbcType=VARCHAR},
      </if>
      <if test="productNameCn != null">
        #{productNameCn,jdbcType=NVARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="fBizhong != null">
        #{fBizhong,jdbcType=DECIMAL},
      </if>
      <if test="fFbizhong != null">
        #{fFbizhong,jdbcType=DECIMAL},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="fProjmng != null">
        #{fProjmng,jdbcType=NVARCHAR},
      </if>
      <if test="fDept != null">
        #{fDept,jdbcType=NVARCHAR},
      </if>
      <if test="fStartProjectTime != null">
        #{fStartProjectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fAssignPointName != null">
        #{fAssignPointName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fOldObjcaName != null">
        #{fOldObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="fOldPdtName != null">
        #{fOldPdtName,jdbcType=VARCHAR},
      </if>
      <if test="fOldProjno != null">
        #{fOldProjno,jdbcType=VARCHAR},
      </if>
      <if test="fOldProjname != null">
        #{fOldProjname,jdbcType=VARCHAR},
      </if>
      <if test="fOldProjcode != null">
        #{fOldProjcode,jdbcType=VARCHAR},
      </if>
      <if test="fOldProductlineName != null">
        #{fOldProductlineName,jdbcType=NVARCHAR},
      </if>
      <if test="fOldVersion != null">
        #{fOldVersion,jdbcType=VARCHAR},
      </if>
      <if test="fOldProductno != null">
        #{fOldProductno,jdbcType=VARCHAR},
      </if>
      <if test="fOldProductname != null">
        #{fOldProductname,jdbcType=VARCHAR},
      </if>
      <if test="fOldRate != null">
        #{fOldRate,jdbcType=DECIMAL},
      </if>
      <if test="fOldBizhong != null">
        #{fOldBizhong,jdbcType=DECIMAL},
      </if>
      <if test="fOldFbizhong != null">
        #{fOldFbizhong,jdbcType=DECIMAL},
      </if>
      <if test="fAuthor != null">
        #{fAuthor,jdbcType=VARCHAR},
      </if>
      <if test="wfOrunid != null">
        #{wfOrunid,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="updataflag != null">
        #{updataflag,jdbcType=VARCHAR},
      </if>
      <if test="readers != null">
        #{readers,jdbcType=VARCHAR},
      </if>
      <if test="fZhuangtai != null">
        #{fZhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="cause != null">
        #{cause,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h3c.mds.finance.entity.NotesProjectCodeTmpExample" resultType="java.lang.Long">
    select count(*) from notesProjectCodeTmp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update notesProjectCodeTmp
    <set>
      <if test="record.fObjcaName != null">
        f_objca_name = #{record.fObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="record.fPdtName != null">
        f_pdt_name = #{record.fPdtName,jdbcType=NVARCHAR},
      </if>
      <if test="record.fProjno != null">
        f_projno = #{record.fProjno,jdbcType=VARCHAR},
      </if>
      <if test="record.fProjname != null">
        f_projname = #{record.fProjname,jdbcType=VARCHAR},
      </if>
      <if test="record.fProjcode != null">
        f_projcode = #{record.fProjcode,jdbcType=VARCHAR},
      </if>
      <if test="record.fProductlineName != null">
        f_productline_name = #{record.fProductlineName,jdbcType=NVARCHAR},
      </if>
      <if test="record.fVersion != null">
        f_version = #{record.fVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.fProductCode != null">
        f_product_code = #{record.fProductCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productNameCn != null">
        PRODUCT_NAME_CN = #{record.productNameCn,jdbcType=NVARCHAR},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.fBizhong != null">
        f_bizhong = #{record.fBizhong,jdbcType=DECIMAL},
      </if>
      <if test="record.fFbizhong != null">
        f_fbizhong = #{record.fFbizhong,jdbcType=DECIMAL},
      </if>
      <if test="record.begintime != null">
        BeginTime = #{record.begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fProjmng != null">
        f_projMng = #{record.fProjmng,jdbcType=NVARCHAR},
      </if>
      <if test="record.fDept != null">
        f_dept = #{record.fDept,jdbcType=NVARCHAR},
      </if>
      <if test="record.fStartProjectTime != null">
        f_start_project_time = #{record.fStartProjectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fAssignPointName != null">
        f_assign_point_name = #{record.fAssignPointName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldObjcaName != null">
        f_old_objca_name = #{record.fOldObjcaName,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldPdtName != null">
        f_old_pdt_name = #{record.fOldPdtName,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProjno != null">
        f_old_projno = #{record.fOldProjno,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProjname != null">
        f_old_projname = #{record.fOldProjname,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProjcode != null">
        f_old_projcode = #{record.fOldProjcode,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProductlineName != null">
        f_old_productline_name = #{record.fOldProductlineName,jdbcType=NVARCHAR},
      </if>
      <if test="record.fOldVersion != null">
        f_old_version = #{record.fOldVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProductno != null">
        f_old_productno = #{record.fOldProductno,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldProductname != null">
        f_old_productname = #{record.fOldProductname,jdbcType=VARCHAR},
      </if>
      <if test="record.fOldRate != null">
        f_old_rate = #{record.fOldRate,jdbcType=DECIMAL},
      </if>
      <if test="record.fOldBizhong != null">
        f_old_bizhong = #{record.fOldBizhong,jdbcType=DECIMAL},
      </if>
      <if test="record.fOldFbizhong != null">
        f_old_fbizhong = #{record.fOldFbizhong,jdbcType=DECIMAL},
      </if>
      <if test="record.fAuthor != null">
        f_author = #{record.fAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.wfOrunid != null">
        WF_ORUNID = #{record.wfOrunid,jdbcType=VARCHAR},
      </if>
      <if test="record.mark != null">
        mark = #{record.mark,jdbcType=VARCHAR},
      </if>
      <if test="record.updataflag != null">
        UpdataFlag = #{record.updataflag,jdbcType=VARCHAR},
      </if>
      <if test="record.readers != null">
        readers = #{record.readers,jdbcType=VARCHAR},
      </if>
      <if test="record.fZhuangtai != null">
        f_zhuangtai = #{record.fZhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="record.cause != null">
        cause = #{record.cause,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update notesProjectCodeTmp
    set f_objca_name = #{record.fObjcaName,jdbcType=VARCHAR},
      f_pdt_name = #{record.fPdtName,jdbcType=NVARCHAR},
      f_projno = #{record.fProjno,jdbcType=VARCHAR},
      f_projname = #{record.fProjname,jdbcType=VARCHAR},
      f_projcode = #{record.fProjcode,jdbcType=VARCHAR},
      f_productline_name = #{record.fProductlineName,jdbcType=NVARCHAR},
      f_version = #{record.fVersion,jdbcType=VARCHAR},
      f_product_code = #{record.fProductCode,jdbcType=VARCHAR},
      PRODUCT_NAME_CN = #{record.productNameCn,jdbcType=NVARCHAR},
      rate = #{record.rate,jdbcType=DECIMAL},
      f_bizhong = #{record.fBizhong,jdbcType=DECIMAL},
      f_fbizhong = #{record.fFbizhong,jdbcType=DECIMAL},
      BeginTime = #{record.begintime,jdbcType=TIMESTAMP},
      f_projMng = #{record.fProjmng,jdbcType=NVARCHAR},
      f_dept = #{record.fDept,jdbcType=NVARCHAR},
      f_start_project_time = #{record.fStartProjectTime,jdbcType=TIMESTAMP},
      f_assign_point_name = #{record.fAssignPointName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      f_old_objca_name = #{record.fOldObjcaName,jdbcType=VARCHAR},
      f_old_pdt_name = #{record.fOldPdtName,jdbcType=VARCHAR},
      f_old_projno = #{record.fOldProjno,jdbcType=VARCHAR},
      f_old_projname = #{record.fOldProjname,jdbcType=VARCHAR},
      f_old_projcode = #{record.fOldProjcode,jdbcType=VARCHAR},
      f_old_productline_name = #{record.fOldProductlineName,jdbcType=NVARCHAR},
      f_old_version = #{record.fOldVersion,jdbcType=VARCHAR},
      f_old_productno = #{record.fOldProductno,jdbcType=VARCHAR},
      f_old_productname = #{record.fOldProductname,jdbcType=VARCHAR},
      f_old_rate = #{record.fOldRate,jdbcType=DECIMAL},
      f_old_bizhong = #{record.fOldBizhong,jdbcType=DECIMAL},
      f_old_fbizhong = #{record.fOldFbizhong,jdbcType=DECIMAL},
      f_author = #{record.fAuthor,jdbcType=VARCHAR},
      WF_ORUNID = #{record.wfOrunid,jdbcType=VARCHAR},
      mark = #{record.mark,jdbcType=VARCHAR},
      UpdataFlag = #{record.updataflag,jdbcType=VARCHAR},
      readers = #{record.readers,jdbcType=VARCHAR},
      f_zhuangtai = #{record.fZhuangtai,jdbcType=VARCHAR},
      cause = #{record.cause,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>